[2018-12-06 02:36] jjwilke commented on #120
Feature branch of Kokkos at jjwilke@4a50aed548c187f0365f624fab34084c1f1521f2
contains the infrastructure needed to support this for CMake >=3.0.

[2018-12-06 15:54] ndellingwood commented on #349
Adding @crtrott he said he'd also help look into this.

[2018-12-06 16:40] srajama1 commented on #120
Is this ready to come in as a PR ?

[2018-12-06 16:51] ndellingwood commented on #120
@srajama1 @jjwilke I think we should test pretty extensively with Trilinos first to make sure there was no accidental compatibility breakage, does that sound reasonable?

[2018-12-06 16:52] crtrott commented on #120
@ndellingwood this sounds very very reasonable. We also need to talk to the LANL folks who rely on current Kokkos cmake support that the Kokkos core changes didn't break there stuff (and/or they like the changes necessary).

[2018-12-06 17:49] jjwilke commented on #120
Yes, yes. Much more testing needs to be done.  I'm particularly worried about case-sensitive file names since Darwin mucks this up by not being case-sensitive.

@ndellingwood: In theory, nothing for Trilinos was broken - but obviously this should be tested. As far as I can tell, the kokkos_build.cmake file is only included when not building with Trilinos. This is the only file I modified in a sign

[2018-12-06 17:51] crtrott commented on #120
Trilinos is actually at 3.10 as a minimum for CMake.

[2018-12-07 00:53] jjwilke commented on #120
The first draft is at [kokkos-kernels](https://github.com/jjwilke/kokkos-kernels/commit/934d8c2eb7948a3f352c4965e1c5facc81ea5e5e) on the kokkos repository [kokkos](
https://github.com/jjwilke/kokkos/commit/4a50aed548c187f0365f624fab34084c1f1521f2)

TODO: package configure file, if we want to support non-cmake projects

Transitive dependencies appear to be working correctly for standalone builds us

[2018-12-07 18:20] jjwilke commented on #120
That is my understanding - but then KokkosKernels becomes a header-only library? Is that correct?

I believe the "correct" way to do a header-only library going forward is to declare it as an interface, but I will try to confirm this on the CMake list.

[2018-12-07 21:18] jjwilke opened #355 "UnorderedSet span function in fenl example"
The fenl example currently does not build (at least not with standalone).

fenl_functors.hpp:149
[code]

UnorderedMap does not provide a `span()` function (never has). It looks like on other containers `span()` has been replaced with `capacity()`. Should `span()` return the the same value as `capacity()`? And UnorderedMap should be updated to use `span()` and deprecate `capacity()`?

[2018-12-07 21:30] ndellingwood commented on #355
This might be a case where the term 'capacity' may be overloaded (I don't recall for certain and may be wrong), adding @dsunder - Dan, do you recall if `span` and `capacity` are interhangeable here, or does capacity have a different meaning?

[2018-12-10 05:19] srajama1 commented on #120
I am missing something. Do you mean to say when ETI is off we are a header only library ? We can add an empty dummy.cpp to workaround it.

[2018-12-10 05:36] jjwilke commented on #120
CMake makes header-only libraries fairly easy. There was a type-o (fixed locally) which was causing sources not to get added. The behavior was supposed to be ETI on by default, which builds a conventional library. I was surprised to not see any source files getting built by default (hence the question), but that issue is fixed.

[2018-12-10 18:32] crtrott commented on #349
Apparently fixed in GCC 7.3:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=882855

[2018-12-10 18:39] nmhamster commented on #349
What's the chance for work-around in GCC 7.2?

[2018-12-10 18:41] crtrott commented on #349
Looking into it. My guess is that it is pretty good that we can work around this. The compiler gets tripped up in something related to figuring out whether something is an rvalue or so. So adding some parenthesis, explicit casts, using a temporary instead of inline computing the value, etc. may avoid the trigger.

[2018-12-10 18:52] crtrott commented on #349
Ok found two options for this original code. The offending thing is capturing idx_j by reference in the inner most layer, where part of idx_j is coming from the argument to another inlined lambda.
[code]

Option 1: Capture by value in innermost-lambda:
[code]

Option2: move the offset calculation in the innermost loop:
[code]

My guess is that the second option is better. In any case we can ifdef

[2018-12-10 18:56] crtrott commented on #349
Btw. this applies to all similar places in the code: 91, 118, 145, ...

[2018-12-10 19:02] kyungjoo-kim commented on #349
@crtrott Is the original code still legal in C++ standards (nesting two lambdas and capruting values by reference) ? I have many places that follow the same pattern of this.

[2018-12-10 19:04] crtrott commented on #349
This is legal C++ (depending on what you do it might not be legal Kokkos though: remember the code must be valid when capturing by value, but capturing by reference may get better performance).

[2018-12-10 19:07] kyungjoo-kim commented on #349
I also prefer the second option. Anyway you are a magician. How do you know that the compiler problem is due to capturing values by refernce ?

[2018-12-10 19:10] crtrott commented on #349
If you look at the call stack, the functions name indicate that it tries to optimize away expressions (fold), it tries to figure out if something is an rvalue and then crashes when it tries to optimize some reference access inside a parenthesis. This is all just educated guesses but looks like I guess right ;-).

[2018-12-10 19:11] crtrott commented on #349
Ah I am working on the proper fix and will issue a pull request.

[2018-12-10 19:11] kyungjoo-kim commented on #349
thanks.

[2018-12-10 22:46] kyungjoo-kim commented on #337
I put some documentation in the following link to get an R&A. Please review and let me know if you find unclear things. As I am already familiar with the functions, I might presume many things.

https://github.com/kokkos/kokkos-kernels-private/wiki/Batched-BLAS-and-LAPACK

[2018-12-11 02:39] crtrott commented on #349
Found a couple more places which could be resolved by making temporaries non-const ...
I didn't ifdef those but put a comment in.

[2018-12-11 02:40] crtrott commented on #349
If somebody can run all the testing that would be great. Gotta get some other stuff done now.

[2018-12-11 20:43] ndellingwood commented on #349
Cross-reference #357 PR by @crtrott

[2018-12-11 23:10] kyungjoo-kim commented on #239
All routines in KokkosKernels now have profiling labels #359

[2018-12-11 23:11] kyungjoo-kim commented on #124
See PR  #359

[2018-12-12 21:04] jjwilke commented on #120
I am changing all executables generated to NOEXEPREFIX so that they have the same names regardless of the parent project. If there is a reason this would break anything, please let me know.

[2018-12-12 21:10] srajama1 commented on #120
The old scripts won't work, but that is fine.

[2018-12-13 00:51] ndellingwood commented on #239
PR #359 merged with added labels.

[2018-12-13 00:51] ndellingwood commented on #124
PR #359 merged with added labels.

[2018-12-13 17:36] ndellingwood opened #360 "Promotion 2.7.24 broke MV unit tests in Tpetra with complex types"
This issue opened to address @lucbv's issue trilinos/Trilinos#3823.

Previously, @mhoemmen committed PR trilinos/Trilinos#3538 to resolve this issue in Tpetra.

The recent promotion clobbered that commit and replaced the fix with those in PR #314. However, problems with complex types in Tpetra's MV are occurring again, as reported by @lucbv.

[2018-12-13 17:38] ndellingwood commented on #360
This can be reproduced on White (Kepler nodes) in Trilinos using the following:

`export TRILINOS_DIR=<PATH_TO_TRILINOS>/Trilinos`

# Load modules
[code]

# Configure
[code]

[2018-12-13 17:39] ndellingwood commented on #360
I suggest making the changes in Trilinos' kokkos-kernels and testing there first; trying to link to VOTD kokkos and kokkos-kernels will break unless using the kokkos-promotion branch of Trilinos.

[2018-12-13 17:42] ndellingwood commented on #360
@kyungjoo-kim do you have time to look at this? It seems related to the difference between PR #314 you worked on and the trilinos/Trilinos#3538 PR we clobbered with the promotion.

[2018-12-13 17:45] ndellingwood commented on #360
@kyungjoo-kim it could also be related to some of the `dual_view` changes as well, I can check that first before we consider difference between the commits mentioned above.

[2018-12-13 18:09] kyungjoo-kim commented on #360
@lucbv If you don't mind, could you check if this test still fails after randomizing only real part  ?

You can do so by changing the ``randomize()`` method in ``Tpetra_MultiVector_def.hpp``.
[code]
In this way, the complex values have zero imagineries. In practice, this should pass the complex<double> test as like double test.

I found this problem in KokkosKernels and I am wondering if this is a

[2018-12-14 18:51] jjwilke opened #361 "CMake option for test_all_sandia"
Related to #120. Add option --build-system that runs either standalone cmake or existing Makefile build.

[2018-12-14 22:31] jjwilke commented on #120
Tests/platforms currently passing:
* Mac OS, Trilinos, OpenMP, Serial, Pthread
* Mac OS, Standalone, OpenMP, Serial, Pthread: test_all_sandia with CMake
* Mutrino, Standalone, OpenMP, Serial: test_all_sandia with CMake

Tests/platforms currently failing:

[2018-12-18 21:22] ndellingwood commented on #196
Added this [Cuda_OpenMP debug Jenkins job](https://jenkins-son.sandia.gov/view/KokkosKernels/job/KokkosKernels_White_CudaOpenMP_cuda_92_gcc_720-debug/)

[2018-12-20 18:14] lucbv opened #364 "Adding structured spmv"
I am proposing an implementation of spmv for structured matrices.
I am covering only simple stencils:

1D 3pts FE/FD stencil
2D 5pts FD and 9pts FE stencils
3D 7pts FD and 27pts FE stencils

The basic idea is to split the mesh into two parts: interior and exterior.
The interior is entirely structured and spmv can be accelerated using the know sparsity pattern if the matrix to access the entries of

[2019-01-11 00:14] william76 opened #367 "HashmapAccumulator needs a header guard"
HashmapAccumulator doesn't have a header guard in the file.

https://github.com/kokkos/kokkos-kernels/blob/194f0f5be9117b0f1a646af783e4c79f8355fde6/src/common/KokkosKernels_HashmapAccumulator.hpp#L38-L52

[2019-01-11 21:26] etphipp opened #368 "GEMM uses wrong function for computing shared memory allocation size"
Looking at line 450 of KokkosBlas3_gemm_impl.hpp, GEMM uses `View::required_allocation_size()` to compute the shared memory allocation size:
[code]
I believe this is the wrong function, as it should instead use `View::shmem_size()`.  The difference between the two is `sizeof(value_type)`:
[code]
[code]
presumably so that the allocation for a view out of scratch memory is aligned to the size of the

[2019-01-14 20:07] theguruat12 opened #369 "BLAS underscore mangling"
With XL, there is no underscore added for Fortran calls from C.  Kokkos-Kernels appears to hard-code this with one underscore (which works for most compilers).

Attached is the patch that I had to implement to get it to build on the miniature version of the Sierra platform (Essentially just changing the hard-coding to not have underscores; this only changed the symbols that were referenced in my p

[2019-01-15 16:32] srajama1 commented on #369
@kyungjoo-kim @ndellingwood Can you make this a PR  ?

[2019-01-15 18:13] ndellingwood commented on #369
@srajama1 based on the comment it looks this is a good start but more work will be necessary for a complete fix. I can help, but would like to talk with you and @kyungjoo-kim more about what is involved to support XL and not break compatibility with other compilers. Adding reference to #307 and trilinos/Trilinos#2850 (closed issues with follow-ons) that have discussion that may be relevant.

[2019-01-15 21:09] kyungjoo-kim commented on #369
This may be okay for xl but it is not okay with other compilrs like intel and gcc. To do this more correctly, we need to detect fortran mangling from the compilation level (like trilinos does). CMake can do this but I dont know how to. Anyone CMake grue might know how to. We also need help from @crtrott for the stand-alone makefile.

[2019-01-15 21:12] mhoemmen commented on #369
@kyungjoo-kim Teuchos uses some CMake logic for this.  Tpetra used to have an improved version of that CMake logic, until y'all deleted the GEMV and GEMM wrappers.  If you want me to help, I'll be happy to, but please send me an e-mail first asking specifically for what you want.

[2019-01-15 21:14] kyungjoo-kim commented on #369
@mhoemmen I appreciate if you can help for CMake. I am not sure if kokkoskernels stand alone cmake logic completes or not. @srajama1 do we have a stand alone cmake to test now ? If the work is already merged, we can start to moify the cmake logic.

[2019-01-15 21:48] mhoemmen commented on #369
@kyungjoo-kim Please send me an e-mail requesting this feature.  I will begin at that time.  Thanks!

[2019-01-15 21:51] theguruat12 commented on #369
@kyungjoo-kim @mhoemmen I apologize, I should have been more clear.  What you have suggested IS what I would like kokkos to do (properly select the underscore mangling).

[2019-01-15 22:28] kddevin opened #370 "ATDM test failing in Trilinos https://github.com/trilinos/Trilinos/issues/3864"
ATDM tests in Trilinos report
KokkosKernels tests randomly timing out on ATDM mutrino KNL build
https://github.com/trilinos/Trilinos/issues/3864

The issue was reported in Trilinos, but perhaps, for accurate tracking/planning, it should be noted in Kokkos-Kernels repo instead/too?

[2019-01-16 00:06] mhoemmen commented on #369
@theguruat12 reminded me that kokkos-kernels has a customer that needs this to work for the Makefile-based build system as well.  This shouldn't be hard -- just specify the mangling macro definition on the command line as a `-D`.  It's also a lower priority.

[2019-01-16 04:14] srajama1 commented on #370
@kddevin The last I saw this was an environment issue. Did you hear something different ?

[2019-01-17 17:10] mhoemmen commented on #360
@kddevin @trilinos/tpetra @trilinos/framework @jwillenbring @rrdrake @theguruat12

My work-around for this got clobbered.  BLAS functions that return complex have been known to be broken for a long time, due to ABI issues.  See e.g., `CheckCXXComplexBlasProblem.cmake` and `CheckCXXComplexBlasProblemCanBeFixed.cmake` in `Trilinos/packages/teuchos/cmake/`.  Teuchos knew how to work around this issue

[2019-01-17 18:10] ndellingwood commented on #360
@mhoemmen I'll get a build going on White and also test with @kyungjoo-kim 's suggestion in the comment above - if we test `complex<double>` and set the imaginary part to 0  and get incorrect results (in some sense making the problem seem like we're using `double` types, known to work fine, but running through the `complex<double>` code paths) this will better help define the issue.

[2019-01-17 18:16] mhoemmen commented on #360
Thanks @ndellingwood !

[2019-01-17 18:59] ndellingwood commented on #360
Build in progress, may take a little bit...

[2019-01-18 00:36] mhoemmen commented on #369
@kyungjoo-kim @ndellingwood I have a fix in Trilinos, in the `Fix-KokkosKernels-BLAS-mangling` branch (here, not in my fork).  It works fine with the CMake-based build system.  I made an attempt to fix it for the Makefile-based build system too, but I don't know how to test that.  Please take a look and see if it's OK.  If you think it's OK, I'll make this a kokkos-kernels PR and simultaneously a

[2019-01-18 23:54] ndellingwood commented on #360
Extra failure info from Tpetra MV unit test for reference- the issue seems to occur in kokkos-kernels so it is pasted here rather than the Trilinos issue.

Same setup as reproducer steps above on White.

Allocate node:
`bsub -Is -n 16 -q rhel7F bash`

Run MV tests:
`ctest -R TpetraCore_MultiVector_UnitTests_MPI_4 -VV`

Failures:
[code]

Specific output grouped by test above:

[code]

[code]

[code

[2019-01-19 00:05] ndellingwood commented on #360
The problem occurs with the Serial tests (not the CudaUVM tests).

In the case when Cuda is the execution space, the kokkos-kernels specialization is called and everything works fine.

In the case when Serial is the execution space, the BLAS tpl specialization is hit, ultimately making a call to `zdotu_` like so:

[code]

I checked the values of the `X` and `Y` data, before and after and they look

[2019-01-19 00:07] ndellingwood commented on #360
Also pinging @lucbv so he is in the loop, he has been waiting on a fix for this.

[2019-01-19 16:18] srajama1 opened #371 "Remove experimental name space for batched blas"
Let us remove the experimental namespace from the batched BLAS codes. It is used by applications and I think we are reasonably confident on how the i/f should look like.

[2019-01-19 22:59] mhoemmen commented on #369
Thanks @ndellingwood !  It really helps that we require a recent CMake; that means I can use entirely native CMake functions.

[2019-01-19 23:16] mhoemmen commented on #360
@ndellingwood Just to be clear, it sounds like `zdotu_` is getting correct input, but is returning the wrong result.  Is that correct?

If that's correct, then my guess is that this is caused by a different Fortran ABI for returning a complex number, than what kokkos-kernels is expecting.  kokkos-kernels expects `zdotu_` and its kin to return the complex number as the first output argument.  Howev

[2019-01-19 23:34] mhoemmen commented on #360
@theguruat12 @rrdrake If I'm right, this should be pretty straightforward to fix.  We can apply the fix to the kokkos-kernels and Trilinos repos simultaneously, so that we can go ahead with the Trilinos promotion.

[2019-01-19 23:34] mhoemmen commented on #369
Thanks @ndellingwood for your investigations!

[2019-01-21 18:57] kyungjoo-kim commented on #369
Thank you for working on this. It seems to be quite easy to just include ``FortranCInterface``. I am okay to merge your branch to both trilinos and kokkoskernels. We will make sure the Makefile part once your submit the PR to the kokkoskernels repo. I don't really have a good idea how to detect fortran mangling from a stand alone makefile (I usually see to find fortran mangling from autoconf or cm

[2019-01-21 19:13] mhoemmen commented on #369
@kyungjoo-kim wrote:

My plan was to have sane defaults and let users override by defining Makefile variables themselves.  That's what I did in the branch.  I'm just not sure how to test it.

[2019-01-21 19:15] kyungjoo-kim commented on #369
@mhoemmen Thanks. If you don't mind, would you please submit PR for both KK and Trilinos ? From there I can take care and test it.

[2019-01-21 20:05] mhoemmen commented on #369
I'll do Trilinos first today since Sierra needs it for the next Trilinos promotion.

[2019-01-21 20:07] mhoemmen commented on #369
@kyungjoo-kim Here is the Trilinos patch: https://github.com/trilinos/Trilinos/pull/4228

[2019-01-22 13:14] spdomin opened #372 "'KokkosKernels_FortranMangling.h' file not found"
All of my Trilinos develop nightly tests failed due to the error below.

In file included from /Users/naluIt/gitHubWork/nightlyBuildAndTest/Nalu/src/AssembleContinuityEdgeOpenSolverAlgorithm.C:13:
In file included from /Users/naluIt/gitHubWork/nightlyBuildAndTest/Nalu/include/LinearSystem.h:12:
In file included from /Users/naluIt/gitHubWork/nightlyBuildAndTest/Nalu/include/LinearSolverTypes.h:14:

[2019-01-22 16:10] mhoemmen commented on #372
https://github.com/trilinos/Trilinos/issues/4237

[2019-01-22 16:22] mhoemmen commented on #372
Other kokkos-kernels developers: These changes were a patch to Trilinos.  I was about to add them to the kokkos-kernels repo as well, but these build errors show that we also need to test with Fortran disabled.  I think I know what to do (extra header file with "if Fortran enabled" macro to decide whether to include the Fortran mangling header file that CMake generates).

[2019-01-22 17:35] spdomin commented on #372
As per @mhoemmen's comment above, I am closing this and referring to:

https://github.com/trilinos/Trilinos/issues/4235

[2019-01-22 17:35] #372 closed

[2019-01-22 22:38] kyungjoo-kim commented on #369
@theguruat12 Do you have this problem when you compile kokkoskernels with Trilinos ? Or kokkoskernels is used as stand alone ?

[2019-01-22 23:15] kyungjoo-kim commented on #369
@theguruat12 Another question. According to [XL programming guide, page 90](http://www.bluefern.canterbury.ac.nz/ucsc%20userdocs/forucscwebsite/c/aix/proguide.pdf), XL provides blas library with C interface. This is different from IBM ESSL library (this is fortran library).

So, I am wondering if you mean that the C-interface provided from the XL compiler (-lxopt) when you say XL uses no underscor

[2019-01-22 23:32] nmhamster commented on #369
@kyungjoo-kim - on Page 90 it says that they only ship `dgemm`, `sgemm`, `sgemv` and `dgemv` in `libxlopt`. I imagine you want more functions than that? XL usually does not add underscores Fortran name mangling.

[2019-01-22 23:35] kyungjoo-kim commented on #369
@nmhamster I don't really mind about the functionalities but I just want to double check what is real problem in this issue.

When I googling [examples of xlc with blas](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.3.0/com.ibm.zos.v2r3.cbcpx01/atlasexample1.htm), it uses a single underbar interface.

So, I want to assure that XL indeed uses no-underbar fortran mangling.

[2019-01-22 23:39] nmhamster commented on #369
Example:

[code]

When compiled with XL (lower case, no underscore):

[code]

When compiled with gfortran (lower case, with underscore):

[code]

[2019-01-23 00:03] kyungjoo-kim commented on #369
@nmhamster Ah................................ sounds like the problem is quite complicated. So the example I googled uses blas library complied by another compiler as it uses a single underscore.

So, our IBM machines are equipped with OpenBLAS, LAPACK or ESSL compiled by XL, right ? Due to the different fortran interface, it might be also problematic with other third party libraries (if the TPLs

[2019-01-23 14:11] sebrowne commented on #369
@kyungjoo-kim The one I'm attempting to use was compiled with XL, thus, no underscores.

For this use case, only the CMake (as part of Trilinos) build is needed.

[2019-01-24 00:33] kyungjoo-kim commented on #369
@sebrowne Thank you.

[2019-01-28 15:26] #369 closed

[2019-01-28 20:58] srajama1 commented on #370
@ndellingwood Can you (or someone who has access to mutrino like @william76 ) check this one ?

[2019-01-28 21:23] ndellingwood commented on #370
Since they randomly time out I believe addressing #253 will also help here. We can look into a couple things, easiest is to see which tests are slow and reduce input sizes, maybe consider breaking up the unit tests into multiple tests so they parallelize better (not sure how this would affect Cuda builds though, I'd be a bit concerned that by parallelizing the tests we may cause more competition f

[2019-01-28 21:37] ndellingwood commented on #370
@srajama1 I'm getting a build going on mutrino (usually takes awhile) then I'll reduce sizes on the lengthier tests.

[2019-01-28 21:56] ndellingwood commented on #370
@srajama1 wait, I just looked at the report from Joe for example the OpenMP sparse unit tests, here is link to a filtered version for numbers this month [link](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-mutrino-in

[2019-01-29 15:54] srajama1 commented on #367
@william76 I assumed you are going to add it :)

[2019-01-29 15:56] srajama1 commented on #355
@dsunder @kokkos/developers Can someone check this ?

[2019-01-29 19:48] srajama1 commented on #349
The fix is in develop now.

[2019-01-30 00:32] ndellingwood commented on #351
PR #357 merged with fixes by @crtrott for TeamGEMM from #349.
Nightly testing added with builds:
[gcc/7.2.0 OpenMP](https://jenkins-son.sandia.gov/view/KokkosKernels/job/KokkosKernels_White_OpenMP_gcc_720_cpp14/)
[xl/16.1.1 Serial](https://jenkins-son.sandia.gov/view/KokkosKernels/job/KokkosKernels_White_XL_16_1_1_Serial_cpp14/)

[2019-01-30 00:40] ndellingwood commented on #368
@etphipp I'll put in a PR matching the 3 changes in trilinos/Trilinos#4168 but can replace it if you have a PR ready to submit.

[2019-01-30 00:50] ndellingwood commented on #368
PR #381 issued matching fix by @etphipp and @kliegeois in Trilinos

[2019-01-30 00:52] ndellingwood commented on #341
@jjwilke have you had a chance to confirm your suspicion that the conditional is incorrect?

[2019-01-30 00:54] ndellingwood commented on #242
@william76 does your PR #375 address this issue or does this issue require additional work from your PR?

[2019-01-30 00:56] ndellingwood commented on #137
@crtrott based on the comments I'm assuming this was already done but we missed marking as InDevelop? Marking as InDevelop, please fix if I'm mistaken.

[2019-01-30 00:57] ndellingwood commented on #14
Marking as bug fixed and in develop.

[2019-01-30 01:06] jjwilke commented on #341
Not yet. I foolishly believed I could quickly update CMake and then use the new CMake standalone for running my tests.

[2019-01-30 01:08] ndellingwood commented on #341
@jjwilke I'll send an email so we can coordinate getting your cmake changes in kokkos and kokkos-kernels, sorry for the delay.

[2019-01-30 02:06] trudeaun commented on #369
Sorry that this is coming in late, but I wanted to make sure you saw that IBM XL Fortran offers a compiler option called `-qextname`, which adds an underscore to the end of global names, making it behave like gfortran. This option is not on by default. You can learn more about it on [Knowledge Center](https://www.ibm.com/support/knowledgecenter/en/SSAT4T_16.1.1/com.ibm.xlf1611.lelinux.doc/compiler

[2019-01-30 14:03] sebrowne commented on #369
@trudeaun , Thank you for the information.  In this case, since I'm compiling against an _existing_ version of BLAS, I do still need the functionality of dynamically determining the mangling, but yes, if I were to compile all TPLs (including BLAS) myself, I could specify that option.

[2019-01-30 16:22] william76 commented on #242
@ndellingwood
Yeah, this thing is super confusing.  The _old_ D2 Coloring is in `src/graph/KokkosGraph_GraphColor.hpp` (this file is changed in this PR but I have the `src/graph/KokkosGraph_graph_color.hpp` wrapper header for backwards compatibility.  For backwards compatibility, I've kept the `d2_graph_color() function there which has access to the `COLORING_SERIAL2` variant, which is the serial

[2019-01-31 20:34] srajama1 opened #382 "Request for a custom kernel"
Tall and skinny mat-vec A' * x where A is tall and skinny.

[2019-02-01 06:08] ndellingwood commented on #370
Since this seems to be an environment issue on Mutrino I'm marking as won't fix, please relabel if a different option should be used.

[2019-02-01 16:48] kddevin commented on #370
Yes, of course.  Thanks!

[2019-02-01 16:49] kddevin commented on #370
Can we close the related Trilinos issue as well?

[2019-02-01 18:43] srajama1 commented on #370
Thank you ! I thought Ross might want to keep it open to get the environment fixed. I will check with him on the Trilinos issue. Closing this one.

[2019-02-01 18:43] #370 closed

[2019-02-02 02:52] srajama1 commented on #382
This is for @crdohrm :)

@crdohrm : Just checking to make sure. A is sparse, right ?

[2019-02-02 23:01] crdohrm commented on #382
No, actually A is dense. In the not too recent past, I've noticed much poorer performance of cuBLAS for transpose rather than non-transpose dense matrix products when A is tall and skinny. I think this would be very important to Belos too in their GMRES implementations where such calculations are needed.

[2019-02-04 05:00] srajama1 commented on #382
A custom kernel can be done for this one. We will take care of this.

[2019-02-05 23:03] #14 closed

[2019-02-05 23:03] #124 closed

[2019-02-05 23:03] #137 closed

[2019-02-05 23:03] #239 closed

[2019-02-05 23:03] #332 closed

[2019-02-05 23:03] #333 closed

[2019-02-05 23:03] #347 closed

[2019-02-05 23:03] #349 closed

[2019-02-05 23:03] #353 closed

[2019-02-05 23:03] #360 closed

[2019-02-05 23:03] #367 closed

[2019-02-05 23:03] #368 closed

[2019-02-05 23:11] srajama1 commented on #185
@ndellingwood Do you know why this is open ?

[2019-02-05 23:11] ndellingwood commented on #185
@srajama1 looks like it never got marked InDevelop, will mark it InDevelop and close now

[2019-02-05 23:12] #185 closed

[2019-02-08 00:56] kyungjoo-kim opened #384 "makefile tpl selection is problematic."
The makefile tpl selection mechanism is through a string match.
[code]
Here, if I just enable ``cublas``, ``blas`` is also enabled as its string also matches.

[2019-02-12 22:38] cwsmith opened #385 "linking against blas on power9 with XL"
I'm attempting to build kokkos and kokkos-kernels via Trilinos and hit blas symbol mangling issues.

Trilinos: `develop` cf8101d
System: Power9 with Volta70
Compiler: XL 16.1.0
CUDA: 10

Similar problems with the Xl compiler have been raised a handful of times:
https://github.com/kokkos/kokkos-kernels/issues/369
https://github.com/trilinos/Trilinos/pull/4228

My environment settings and cmake comm

[2019-02-14 17:37] kyungjoo-kim commented on #385
This is weird. KokkosKernels cmake follows the F77_BLAS_MANGLE which is detected from Trilinos. This means that Trilinos detects a wrong mangling rule. From my test on white (our power8 and p100 testbed), I get the right fortran mangling detected ``ibm/xl/16.1.0`` and ``cuda/9.2.88``.

@nmhamster Is this something new from Volta and cuda 10 ?

[2019-02-21 18:09] vqd8a opened #390 "Performance tests for batched getrs, getri and trsv"
Add perf. tests for batched getrs, getri and trsv.

[2019-03-07 19:36] bartlettroscoe opened #395 "Generated kokkos-kernels file names are too long and are crashing cloning Trilinos on Windows"
As reported in:

* https://github.com/trilinos/Trilinos/issues/4571

the generated files names for explicit instantiations are too long.  The clone of Trilinos on Windoes gives:

[code]

Can KokkosKernels instead consider compressing the names of these files?  I can provide some suggestions on how to do that if that would be helpful.

[2019-03-07 23:47] srajama1 commented on #395
Oh come on ..... Does Kokkos work in Windows first ? We really don't have cycles to support windows or to even a test machine where we can test it.

[2019-03-07 23:47] nmhamster commented on #395
Aren't we required to support Trillinos on Windows for a customer use case?

[2019-03-07 23:50] srajama1 commented on #395
I think they use legacy Trilinos stack ...

@bartlettroscoe : My "Oh come on"  was directed at the silliness of the error, not at the request to support windows.

[2019-03-07 23:55] bartlettroscoe commented on #395
@srajama1, because we use CMake and C++11, it really is not that hard to support Windows.  It is just silly stuff like this that causes a problem.

[2019-03-14 20:41] chrisknewman opened #396 "Question about KokkosBlas::Impl::GEMMImpl"
I have a question about the behavior of KokkosBlas::Impl::GEMMImpl. I am developing an FEM code using Nox/belos. I have pasted output below from nvprof on a single GPU on summitdev.ornl.gov.

Notice that orthogonalization takes 59.9 seconds and according to nvprof 59.8 seconds is spent in KokkosBlas::Impl::GEMMImpl. I see this same behavior on the summit.ornl.gov machine as well (Volta70;Power9);

[2019-03-15 00:00] mhoemmen commented on #396
I'm working on a Tpetra-based fix for Belos performance issues on GPUs.  I'll post an issue soon.

[2019-03-15 00:11] mhoemmen commented on #396
Here is the Trilinos issue: https://github.com/trilinos/Trilinos/issues/4626

[2019-03-15 00:14] mhoemmen commented on #396
@chrisknewman wrote:

Does this mean that using the same version of Trilinos, but a different CUDA software stack, causes the slowdown?  Or does "software update" also include changing the Trilinos version?

[2019-03-15 15:34] mhoemmen opened #397 "GEMM has no CudaUVMSpace specializations for cuBLAS"
Kokkos-kernels' GEMM struct, called by `KokkosBlas::gemm`, has no CudaUVMSpace specializations that call cuBLAS.  It has CudaSpace specializations:

https://github.com/kokkos/kokkos-kernels/blob/4ee5f3c6dbd0981f6d8c7a9b2b1763439cb56039/src/impl/tpls/KokkosBlas3_gemm_tpl_spec_avail.hpp#L121

but no CudaUVMSpace specializations.  @vbrunini and I found this out by benchmarking Belos solves with Tpetr

[2019-03-15 15:43] mhoemmen commented on #396
@chrisknewman I edited your comment just to use triple backquotes to protect verbatim text.  Otherwise, Markdown formatting kicks in and it gets mangled.

[2019-03-15 15:45] mhoemmen commented on #396
@chrisknewman See https://github.com/kokkos/kokkos-kernels/issues/397 -- it looks like kokkos-kernels is not calling cuBLAS when it should.  If you look at that issue, I suggest a fix (that we are testing right now -- literally it's compiling as I type).  Please feel free to try that.  Otherwise, we'll fix kokkos-kernels and patch the version in Trilinos too, once we've verified the fix.

[2019-03-15 15:47] mhoemmen commented on #396
@chrisknewman Also, Belos will perform better in general if you specify "Orthogonalization" = "ICGS" (Iterated Classical Gram Schmidt).

[2019-03-15 16:14] mhoemmen commented on #397
@vbrunini reports that adding CudaUVMSpace specializations improves radiosity solve time by 2x overall, and reduces `Tpetra::MultiVector::multiply` time from 23.7s to 1.2s.  I will implement this fix.

[2019-03-18 03:10] kyungjoo-kim commented on #396
@chrisknewman As @mhoemmen pointed, it does not use CUBLAS. If you enable cubla from cmake configuration ``-D TPL_ENABLE_CUBLAS=ON``, it should redirect gemm into CUBLAS, which is the most portable way to compute gemm. The output of the cmake with CUBLAS should include something similar to the following:
[code]

[2019-03-18 23:18] mhoemmen commented on #397
- Kokkos-kernels PR: https://github.com/kokkos/kokkos-kernels/pull/399
- Trilinos PR (same changes): https://github.com/trilinos/Trilinos/pull/4649

[2019-03-20 17:13] chrisknewman commented on #396
@mhoemmen Thank you for your help with this.  I need to put this on hold for a few days. Can you let me know when the fix mentioned above is pushed out to Trilinos? Thanks again.

[2019-03-20 17:47] mhoemmen commented on #396
@chrisknewman Just follow this PR: https://github.com/trilinos/Trilinos/pull/4649

[2019-03-20 19:56] chrisknewman commented on #396
@mhoemmen I hand merged the changes from that pull request and now seeing behavior as I expected.  Thanks again.

[2019-03-21 22:51] jjellio opened #400 "Cuda SpMV does not handle small number of nonzeros per row"
See for additional details:
https://gitlab-ex.sandia.gov/jhu/TrilinosSolverPerformance/issues/27

We compared Kokkos Kernel (Double,Int,Int) SpMV to CuSparse (Cuda 9) on Volta 100.

Using Galeri's Laplace3D, Brick3D and Elasticity3D. We found similar performance when there are many nonzeros per row, but very poor performance with Laplace3D (7 nnz per row).

The issue is likely that the KK SpMV is

[2019-03-22 01:03] jhux2 opened #401 "Compilation error on rzansel"
I'm attempting to compile Trilinos on rzansel at LLNL.  I'm using a recipe that has worked for @csiefer2 on LLNL's lassen.  The compile is failing in Kokkos-Kernels with this error:

<details>
<summary>error</summary>

[code]

</details>

Here is my setup:
[code]

[code]

Some relevant "magic" environment variables are
[code]

@nmhamster @srajama1

[2019-03-22 08:34] dabeschte opened #402 "spGEMM produces crashes and wrong results"
for many matrices, the kokkos-kernels spGEMM crashes or when it does not, it often returns wrong results. if it produces wrong results, the outputs matrix C is only 8 bytes large and from investigation in the verbose logs, it also seems like the amount of non zeroes in C does not match with the amount produced by other spGEMM solvers.

one example matrix with an incorrect result and no output matr

[2019-03-22 15:27] srajama1 commented on #402
@dabeschte : Can you post your configuration ? What are you multiplying these matrices with ? Are you using our example driver or are you calling the code from your libraries ?

[2019-03-22 15:31] srajama1 commented on #400
@jjellio Thank you for catching this. We will do comparisons on volta and focus on fewer non-zeroes per row.

[2019-03-22 15:34] srajama1 commented on #401
@jhux2 : Strange error. We have nightlies with Cuda 9.2 but not with Xlc.

Do you have gcc in this environment for a sanity check ?

@crtrott @ndellingwood

[2019-03-22 16:16] dabeschte commented on #402
@srajama1 Thank you for the fast reply.
I am using you example executable in the perf_test and the matrix is multiplied with itself (I just use --amtx, but not --bmtx).
I use the following parameters for multiplying the matrix:
`./KokkosSparse_spgemm.exe --cuda 0 --amtx 130bit.mtx`

I just had the idea that the crashes could happen, because I use Cuda 10.1, but since the changes from 10.0 to 10.1

[2019-03-22 16:54] srajama1 commented on #402
@dabeschte This could explain it. I have heard mixed feedback on 10.0 and been asked to wait for 10.1. We do not have continuous builds on 10.1 yet. @ndellingwood : Is this something we could add in kokkos-dev ?

[2019-03-22 16:55] jhux2 commented on #401
@srajama1 I think so, I'll try and report back.

[2019-03-22 17:02] dabeschte commented on #402
@srajama1 ok. I could try downgrading to 10.0 and see if that works.
Or do you maybe have a running installation on you system with which you could verify that those matrices should work with other drivers?
I can get a lot of matrices working with my current configuration, yet about half of them have before mentioned issues.

[2019-03-22 17:22] srajama1 commented on #402
@dabeschte I should have been more clear. 10.1 should clearly be an improvement over 10.0, we just haven't tested it. We were not going to mess with 10.0 due to recommendation from our system software team. All our current builds are on 9.2.

[2019-03-22 17:24] srajama1 commented on #400
@crtrott said he is going to look at this. @jjellio If you have matrices in a directory please share it with him. It will save him some time.

[2019-03-22 17:37] dabeschte commented on #402
@srajama1 ok good to know. But this still leaves the question if the bug is due to driver incompatibility or the spgemm implementation. If you could verify whether those matrices work on your configuration, I could avoid a driver downgrade on my system. That would be great!

[2019-03-22 17:51] srajama1 commented on #402
@dabeschte : Will do and update with my drivers.

[2019-03-22 17:53] dabeschte commented on #402
@srajama1 great. Thank you!

[2019-03-22 18:14] ndellingwood commented on #402
@dabeschte the arch variable in your build setting is incorrect, to support the sm_70 GPU this should be:
`KOKKOS_ARCHS="Volta70"`

Can you try updating that and let us know if that resolves the issue?

[2019-03-22 18:15] ndellingwood commented on #402
@srajama1 only cuda 8.0 is available on kokkos-dev; we may be able to do this on kokkos-dev-2 but I'm not sure if it is set up or intended to be used for nightlies, we need to check with @crtrott

[2019-03-22 18:17] jhux2 commented on #401
Tried these modules:

[code]

Appears to be the same type of error:

[code]

[2019-03-22 18:19] ndellingwood commented on #402
@dabeschte for reference, here is a link for variable names for various architectures you may be interested in compiling for: https://github.com/kokkos/kokkos/wiki/Compiling#table-43-architecture-variables

[2019-03-22 18:22] jhux2 commented on #395
@csiefer2

[2019-03-22 18:27] dabeschte commented on #402
@ndellingwood ah, sorry about that. I copied the example build configuration which I tried to use first.
But i looked into my bash history and I definitely used the generate_makefile.bash script with the following params

`./generate_makefile.bash --kokkoskernel-path=/home/mathias/repos/kokkos-kernels --with-scalars=double --kokkos-path=/home/mathias/repos/kokkos --with-cuda=/usr/local/cuda --with

[2019-03-22 18:35] ndellingwood commented on #402
@dabeschte that looks like it should be fine, if it isn't too much trouble could you try modifying the call to `generate_makefile.bash` slightly with a clean build? It likely won't make a difference, but worth trying in case explicitly passing the path to the cuda compiler may be throwing off something.

`./generate_makefile.bash --kokkoskernel-path=/home/mathias/repos/kokkos-kernels --with-scalar

[2019-03-22 18:43] srajama1 commented on #401
@jhux2 : I see what is causing the problem. A constant in the second argument to Kokkos atomic_fetch_add gets interpreted as int. I am not sure why every other platform works fine and it fails here. We will put in a fix.

[2019-03-22 18:44] jhux2 commented on #401
@srajama1 Good eyes, thank you!  (I just tried gcc 4.9.3, and the compile fails the same way.)  I am happy to try a patch for you.

[2019-03-22 19:15] dabeschte commented on #402
@ndellingwood sure, I will try that at monday when I'm back in office.
But I also doubt that it will make a difference since the building process could complete and some matrices seem to work.

[2019-03-22 19:54] srajama1 commented on #401
Not as simple as I thought, I get unsigned types in and need to a fetch add with -1, can't match them both. Need some reworking and time.

[2019-03-24 10:16] jjellio commented on #401
@jhu2 Shouldn't 'ARCH' be 'KOKKOS_ARCH'?

[2019-03-24 20:49] srajama1 commented on #401
@jhux2 : I think @jjellio has a good catch, may be that will explain why it is only happening in this machine. I am still working through the changes, need some time with @ndellingwood to confirm what I am thinking.

[2019-03-25 09:09] dabeschte commented on #402
@ndellingwood unfortunately, using your build parameters did not help.
I am currently rebuilding kokkos-kernels without OpenMP to see if this makes a difference. Will update when I have new information.

[2019-03-25 17:46] jhux2 commented on #401
@jjellio Thanks for the suggestion.  I just tried an XL build using `KOKKOS_ARCH`, rather than just `ARCH`.  The build failed in the same way.

[2019-03-25 20:23] srajama1 commented on #402
@dabeschte : I should have caught this much sooner. You are using the test driver option for A*A with a rectangular matrix which is causing this. We do have an option for A*B to which you can pass A' as the B. I just transposed and saved aa01 and used that option. That works.

[2019-03-25 20:24] srajama1 commented on #402
We will modify the driver to catch this and return a reasonable error.

[2019-03-25 21:03] dabeschte commented on #402
@srajama1 that makes sense and that was also my first thought, but since [adder_dcop_01](https://sparse.tamu.edu/Sandia/adder_dcop_01) is a square matrix and it also return incorrect results, my guess was that there is another issue in the code. other examples which either crash or produce wrong results are [baumann](https://sparse.tamu.edu/Watson/Baumann) and [bauru5727](https://sparse.tamu.edu/R

[2019-03-26 03:50] srajama1 commented on #402
@dabeschte I will try these square matrices and let you know.

[2019-03-26 18:18] ndellingwood commented on #337
The private repo completed R&A and the public wiki has been updated.

[2019-03-26 18:18] ndellingwood commented on #401
@srajama1 has a patch with a fix for this.

[2019-03-26 22:07] kyungjoo-kim opened #404 "Setting cross-over point in kokkoskernels."
KokkosKernels provide native implementations and interface to third party libraries (TPLs). For a certain problem range, the native implementaions are fast and TPLs may work well for another problem range. For the level 1 operations which are typically used in many places in Trilions and application, we might need to consider how we choose implementations. For more complicated situations, we can a

[2019-03-26 22:15] ndellingwood commented on #404
Cross-referencing PR #283, a first pass at looking into this for dot, abs, and spmv

[2019-03-27 17:15] mhoemmen commented on #404
I'm not sure whether we should rely on TPLs for BLAS 1 stuff.  TPLs _may_ be faster, but if we write the code ourselves, we have the option to make the implementations safer (with respect to overflow -- see e.g., the reference BLAS' implementation of `DNRM2`) and more deterministic.

[2019-03-27 17:39] srajama1 commented on #401
@jhux2 : We have a fix in develop. You have a Trilinos patch. Do you want that patch to be applied to Trilinos develop or can this wait till next Kokkos update ?

[2019-03-27 17:44] jhux2 commented on #401
@srajama1 @ndellingwood Thank you for fixing this. No, this can wait until the next snapshot.

[2019-03-27 17:45] srajama1 commented on #401
@jhux2 : Thanks ! Closing this.

[2019-03-27 17:46] srajama1 commented on #401
Shouldn't have closed. Per @crtrott need to leave it open till next Trilinos update as the issue is there :)

[2019-03-27 17:47] ndellingwood commented on #401
@srajama1 let's just mark as InDevelop for now, we will close when the next promotion completes (this helps monitor stuff when creating the CHANGELOG)

[2019-03-27 17:55] srajama1 commented on #371
We should do this for 3.0 ..

[2019-03-28 20:40] srajama1 commented on #270
@william76 fixed this in #405

[2019-03-28 22:08] dabeschte commented on #402
@srajama1 any news about those matrices?

[2019-03-28 23:23] srajama1 commented on #337
Just marking InDevelop so we update the change logs right during next release.

[2019-04-02 08:52] delanyinspiron6400 commented on #402
I'm having the same problems with the TITAN Xp on CUDA 9.2 and 10.0/10.1, tried to test as well on the SuiteSparse matrix collection and a few hundred seem to not work.
This includes for example: [3elt](https://sparse.tamu.edu/AG-Monien/3elt) , [add20](https://sparse.tamu.edu/Hamm/add20) and [192bit](https://sparse.tamu.edu/Priebel/192bit).
The same is true for those mentioned by @dabeschte, any n

[2019-04-02 14:25] srajama1 commented on #402
Sorry, got pulled into other things. I will try these ...

[2019-04-02 14:40] srajama1 commented on #400
@crtrott : Did your patch for volta get in develop ?

[2019-04-02 14:42] srajama1 commented on #385
@kyungjoo-kim : @nmhamster doesn't check github updates often, you might want to send an email or walk to his office :)

[2019-04-02 14:43] srajama1 commented on #296
@ndellingwood : Just a ping that we might want to test this on 10.1

[2019-04-02 15:02] nmhamster commented on #385
@kyungjoo-kim - the Fortran libraries are required if linking against ESSL and/or OpenBLAS because the XLF compiler uses these functions. It sounds the name mangling test isn't applied if Fortran isn't enabled - is that correct?

[2019-04-02 15:40] kyungjoo-kim commented on #385
@nmhamster I think that you are right. Fortran name mangling test is enabled with the fortran cmake flag.

[2019-04-02 15:42] nmhamster commented on #385
Should we talk to @bartlettroscoe about having an option to enable the CMake query? Its likely this will come up on many BLAS installs.

[2019-04-02 16:45] vqd8a opened #406 "TPL Support for GESV function using MAGMA"
Add the support for solving a system of linear equations A * X = B using magma_*gesv* functions. This is needed by Gemma and Pliris.

[2019-04-03 02:41] bartlettroscoe commented on #385
Don't have any experience with BLAS with XL on Power9.    You should be able to set `F77_BLAS_MANGLE`` on the CMake commandline like:

[code]

What machine is this?

[2019-04-03 16:09] kyungjoo-kim commented on #385
@bartlettroscoe  That is very convenient.

@cwsmith This might be your solution.
1. Fortran mangling detection: As @bartlettroscoe said, you can either explicitly define the mangling or enabling fortran compiler will find the right mangling scheme.
2. Additional linker statement: I am not sure if the module system can provide this automatically. The module system append library path but you should

[2019-04-03 20:46] ndellingwood commented on #397
PR #399 merged with a fix, thanks @mhoemmen and @kyungjoo-kim !

[2019-04-03 20:48] ndellingwood commented on #397
I labeled as Enhancement, but please re-label as Bug if I mis-diagnosed this.

[2019-04-04 15:32] ndellingwood opened #407 "KokkosBatched PerfTests need lambda guards"
PR #391 caused multiple Jenkins jobs to fail due to build errors. From a quick glance, it looks like there may be new performance tests using lambdas which cause the failure, sample snip from the Jenkins email:

`kokkos-kernels/perf_test/batched/KokkosBatched_Test_BlockTridiagDirect.cpp(237)`

[Link to one of the failing builds for reference: ](https://jenkins-son.sandia.gov/job/KokkosKernels_Whit

[2019-04-04 15:37] srajama1 commented on #407
I don't like the suggested fix. This would disable the test on platforms of interest to us, it might be ok for others, but not for this test.

[2019-04-04 15:40] ndellingwood commented on #407
@srajama1 The alternative is for the test to be rewritten using functors, then no disable based on configuration is necessary.

[2019-04-04 15:41] srajama1 commented on #407
Yep

[2019-04-04 15:43] kyungjoo-kim commented on #407
I use lambda everywhere in trilinos, kokkoskernels, and whatever I am working on. kokkoskernels unit test also use labmda with ifdef guard. I think that the ifdef guard is enough.

[2019-04-04 15:44] srajama1 commented on #407
You mean you are disabling the tests everywhere in our nightly testing ?

[2019-04-04 15:45] srajama1 commented on #407
I suggest adding builds with lambda enabled then.

[2019-04-04 15:47] ndellingwood commented on #407
@srajama1 I'll add a nightly test where we enable lambdas with a Cuda build. As far as the macro, it would disable the guraded tests in nightly Cuda builds (not host), so we the extra build with lambdas is a good idea.

[2019-04-04 15:47] kyungjoo-kim commented on #407
This is not a unit test. So, correctness of the kokkoskernels is always checked by nightly tests. When we do perf test and if we do the perf test automatically, we can separately set up jenkins job script with enabling lambda. Practically, trilinos already uses lambda and I dont see any reason why we cannot set the jenkins tests with lambda.

[2019-04-04 15:49] srajama1 commented on #407
Alright, I am ok with using the ifdef if we setup a build with lambdas turned on.

[2019-04-04 16:00] kyungjoo-kim commented on #407
@ndellingwood Sorry that my PR caused the failure. Do you want me to submit another PR or you can include the fix in your working PR if you have one ?

[2019-04-04 16:04] ndellingwood commented on #407
@kyungjoo-kim no worries, could you submit a PR? I haven't started working on one, just did the starting triage work.

[2019-04-04 16:06] kyungjoo-kim commented on #407
okay. see ya soon.

[2019-04-04 16:16] ndellingwood commented on #407
Thanks!

[2019-04-04 16:20] kyungjoo-kim commented on #407
@vqd8a BTW, team blas actually uses lambda in the unit testing and it also has the ifdef guard in the cuda tests, which means that these are not tested in our nightly tests although they are tested in Trilinos PR.

[2019-04-04 16:29] kyungjoo-kim commented on #407
@ndellingwood done. plz, merge the PR with your super power.

[2019-04-04 16:49] ndellingwood commented on #407
@kyungjoo-kim Merged, thanks for quick fix!

[2019-04-04 20:13] cwsmith commented on #385
@bartlettroscoe This was on an in-house [IBM Power System AC922 node](https://secure.cci.rpi.edu/wiki/index.php?title=IBM_Power_9).  It is very similar to a Summit node.

@kyungjoo-kim Thank you.  I'll give this a closer look and try it.

[2019-04-05 06:06] ndellingwood commented on #407
Nightly Cuda build with lambdas enabled created:
[link](https://jenkins-son.sandia.gov/view/KokkosKernels/job/KokkosKernels_White_CudaSerial_cuda_92_gcc_720-enablelambda/)

[2019-04-05 17:00] srajama1 commented on #407
@ndellingwood : Thank you !

[2019-04-08 06:13] crtrott opened #411 "Use of deprecated Kokkos code."

[2019-04-08 16:32] ndellingwood commented on #411
See PR #412

[2019-04-08 19:37] william76 opened #413 "Create examples for Distance-1 and Distance-2 Graph Coloring"
Create examples for Distance-1 and Distance-2 graph coloring.

They should be put in:
- `example/graph/KokkosKernels_Example_Distance1GraphColor.cpp`
- `example/graph/KokkosKernels_Example_Distance2GraphColor.cpp`

Requirements:
- Basically do what the `perf_test` samples do but keep it as 'bare bones' as possible for an exmaple.
- Load MatrixMarket graphs.

[2019-04-08 21:05] srajama1 commented on #413
This is good to do ...

[2019-04-25 16:14] srajama1 opened #418 "Create a Kokkos SIMD Type"

[2019-04-25 16:16] nmhamster commented on #418
@srajama1 - I think this one needs a discussion before we just start implementing.

[2019-04-25 21:27] jjwilke opened #419 "Namespace experimental disappeared"
Related to https://github.com/trilinos/Trilinos/issues/5015

We should consider aliasing types into `namespace Experimental` instead of wholesale deleting the namespace. The develop and cmake-overhaul branches will need to address this with Ifpack2 for Trilinos promotion, which reference a bunch of `KokkosBatched::Experimental` classes.

[2019-04-30 21:09] crtrott opened #420 "Full-BLAS support"
This is an issue to track full blas support. We will update the issue when new stuff gets added. I list the single precision blas call here, Kokkos Kernels is scalar type agnostic.

# BLAS 1

| BLAS Call | Kokkos Kernels Call | Reference | TPL BLAS | TPL CUBLAS | Complex Special |
| -- | -- | -- | -- | -- | -- |
| SROTG | -- | -- | -- | -- | -- |
| SROTMG | -- | -- | -- | -- | NC |
| SROT | -- | -

[2019-05-01 17:22] lshulen commented on #420
For the qmcpack miniapp, it would be very useful to have gemv and ger.  Typical problem sizes would be for matrix / vectors that have dimensionality of ~300 - 5000.

[2019-05-09 22:47] csiefer2 opened #421 "Create a computeResidual Function"
It should do this:

r = b - A * x

This would be very useful in our kernel fusion efforts.

[2019-05-09 22:54] csiefer2 commented on #421
@kddevin @crtrott @mhoemmen

[2019-05-10 03:02] srajama1 commented on #421
@kyungjoo-kim

[2019-05-10 13:36] jwillenbring commented on #395
@srajama1

I ran into this issue today too. We have at least one major customer who uses Windows. Right now they just use the legacy stack, that is true, but the really ugly part of this error is that your git clone fails, so it isn't just that one cannot use Kokkos Kernels.

[2019-05-10 21:17] mhoemmen commented on #421
Clarification: `r` and `b` don't alias each other in this kernel.  The idea is that `b` is const.  Otherwise, we could use the existing apply with `alpha=-1.0` and `beta=1.0`.

[2019-05-10 21:18] mhoemmen commented on #395
It's probably not hard to modify the script for generating filenames, so that it abbreviates types.  You already need some kind of mangling for that anyway, to generate legit filenames without weird characters in them.

[2019-05-11 16:58] cjain7 opened #422 "boolean spgemm: can I avoid numeric phase?"
I'm using spgemm for an application in biological data analysis. In my application, I've boolean matrices, and I'm only interested in boolean matrix multiplication. From the output, I only need the non-zero pattern, i.e., the column entries and the row-map, but I don't care about values (they all will be >=1). I'm using kokkos-kernels as an external library, and calling spgemm routines using the [

[2019-05-11 19:23] srajama1 commented on #395
Alright. we will find a workaround.

[2019-05-13 15:10] akhilPotla97 commented on #395
[code]

[2019-05-15 02:13] srajama1 commented on #422
We do have the column indices info in symbolic phase, but don't store it. We just store the column map. It will be a small change. Will you be interested in changing it and contributing back ?

[2019-05-15 14:18] cjain7 commented on #422
Thanks for responding. I too realized this when I read through the code to have a better understanding of the symbolic phase (both uncompressed and compressed modes).

Storing column indices would make symbolic phase more expensive I assume (as we don't have row-map in the beginning), but unclear to me whether we're sure to get any advantage over the current version that uses symbolic + numeric. I

[2019-05-15 20:30] srajama1 commented on #422
Yes, it is a chicken and egg thing. Having the rowmap made life simpler, so we did it this way. There could be some advantage in finding this out during symbolic, but it would be small. For example, we do one phase for triangle counting, but we have an additional filtering in triangle counting in addition to multiply. This results in advantage that was worth it do one phase.

[2019-05-17 02:00] srajama1 commented on #402
@ndellingwood : Can you help me reproduce this ? If this is a problem, it would be nice to fix before 2.9.

[2019-05-17 22:57] jjwilke opened #429 "Provide find modules for TPLs for standalone cmake"
The current list of TPLs are:

* quadmath
* MKL
* BLAS LAPACK
* CUSPARSE
* yaml-cpp

[2019-05-18 02:08] mhoemmen commented on #429
quadmath is for `__float128`, which is attractive to keep around.  It should come with an installed GCC.

[2019-06-03 15:29] jjwilke commented on #429
Decision to be made is how optional TPLS should be specified:

* Match Trilinos: -DTPL_ENABLE_<X>
* Match standalone Kokkos: -DKokkosKernels_ENABLE_<X>

[2019-06-03 15:34] jjwilke opened #433 "Option names for standalone CMake: all caps vs. camel case"
Kokkos also deals with this issue. Trilinos names are `-DKokkos` but CMake style guide is `-DKOKKOS`.  Kokkos does some magic to support either input, but all the internal logic is implemented in terms of `KOKKOS_X` variables.

There is a lot of `KokkosKernels_X` and `Kokkos_X` logic based on camel case in the current repo. Do we:

* Move everything to upper case to match Kokkos and do the same re

[2019-06-03 15:44] mhoemmen commented on #433
Whatever you decide, could you please test with Trilinos and not break existing `-DKokkos` names?  Thanks!

[2019-06-03 22:24] dalg24 commented on #433
What CMake style guide are you referring to?

[2019-06-03 22:34] jjwilke commented on #433
Nothing in particular. The collective unconscious of CMake on the internet.

[2019-06-03 22:38] dalg24 commented on #433
I think the convention is to prefix variables with `<PackageName>_`

[2019-06-03 22:42] jjwilke commented on #433
On various mailing lists, anyway (and didn't you say also in your presentation?) the convention is for cache variables to be all caps. I really don't care either way. Pre-dating my CMake changes, there's a bunch of logic around setting both <PackageName>_X and <PACKAGENAME_X>.

Either choice is fine with me. I can set the CMake warnings/errors to allow either one or declare either one as preferred

[2019-06-03 22:53] dalg24 commented on #433
https://dalg24.github.io/kokkos/#/7/6

Yes kokkos/kokkos#2104 does clean things up :)

[2019-06-21 16:36] srajama1 commented on #402
@ndellingwood : Ping

[2019-06-24 20:41] #337 closed

[2019-06-24 20:41] #371 closed

[2019-06-24 20:41] #397 closed

[2019-06-24 20:41] #401 closed

[2019-06-24 20:41] #407 closed

[2019-06-24 20:41] #411 closed

[2019-06-24 22:45] mhoemmen opened #440 "KokkosBlas::dot only uses cuBLAS with CudaSpace, not with CudaUVMSpace"
https://github.com/kokkos/kokkos-kernels/blob/4ee5f3c6dbd0981f6d8c7a9b2b1763439cb56039/src/impl/tpls/KokkosBlas1_dot_tpl_spec_avail.hpp#L104

@kyungjoo-kim @jjellio

[2019-06-24 22:49] mhoemmen commented on #440
See https://github.com/kokkos/kokkos-kernels/issues/397 .

[2019-06-25 13:05] jjellio commented on #440
Its worth pointing that dot via kokkos is faster than the the library calls in most cases I've seen. I imagine the reason is that that is effectively a bandwidth race and the extra indirection of a library call introduces a tiny penalty. Perhaps, it would be better to provide CMake options that allow users to override the default choice. And leave the default as calling Kokkos Kernels. Atleast tha

[2019-06-25 15:45] mhoemmen commented on #440
PLEASE NO MORE CMAKE OPTIONS PLEASE

If `KokkosBlas::dot` is faster than we should call it.  If it's not faster, then we should fix it.

[2019-06-25 22:59] ndellingwood commented on #402
I spent a bit of time digging into this today. Cases like the `aa01` matrix were problematic when run with the spgemm perf test driver code `KokkosSparse_spgemm.exe` because that code will internally use the `Impl::read_kokkos_crst_matrix` routine to read the matrices which is does not properly handle matrix market format files with the `pattern` field (for example adjacency matrices without a "va

[2019-06-25 23:03] ndellingwood commented on #402
I believe the perf_test `KokkosSparse_spgemm` code was not written for general testing but rather performance testing within a specific scripted framework, so like mentioned before at least sanity checks should be added that error out with useful messages (matrix dimensions not compatible for multiplication, matrix market field not supported, etc).

[2019-06-25 23:39] srajama1 commented on #402
@ndellingwood : I can help in getting the read_kokkos_crs_matrix fixed. Let me start on that. Thanks for narrowing it down, I don't know why these problems don't show up in other places.

[2019-06-26 23:23] cgcgcg opened #443 "Kokkos Blas: gemv segfaults"
I am trying to use `KokkosBlas::gemv` in transpose mode, but I am getting segfaults. I also see that this case is not being tested. Does this mean that it should not be trusted and that I should not be using it?

[2019-06-27 13:29] srajama1 commented on #443
Let us fix it. More details please !

[2019-06-27 14:32] cgcgcg commented on #443
I hacked the unit test to include the cases that segfault for me. Will send it to you.

[2019-07-01 14:14] rohit-mp opened #444 "KokkosGraph: output colors assigned during graph coloring"
Currently, KokkosGraph coloring programs provide no option to output the colors assigned by it during its execution. It would be nice to have an option to output the colors to a file for later reference.

I tinkered with the source code a bit and got the feature running. So if it's fine, I'd like to create a PR for the same.

[2019-07-01 16:05] srajama1 commented on #444
@rohit-mp We will be happy to accept PRs for this. Just put me and @william76 on that PR, we can look at coloring related things.

[2019-07-01 23:02] william76 commented on #444
@rohit-mp @srajama1

There is an interface in the distance-2 graph coloring handle to get the colors:
`KokkosGraph::GraphColorDistance2Handle::get_vertex_colors()` returns the graph colors into a view:
https://github.com/kokkos/kokkos-kernels/blob/d86db111124cea12e23dd3447b6c307f96ef7439/src/graph/KokkosGraph_Distance2ColorHandle.hpp#L325-L327

I did put in a function in the handle as well to dump

[2019-07-02 06:27] rohit-mp commented on #444
@william76

Thanks for the information! What I've done now is kinda similar. I've used the same ```get_vertex_colors()``` interface to get a view and printed it out except that the function I've created lies in ```src/common/KokkosKernels_PrintUtils.hpp```

I've also added another option to possible argument ```--outputfile``` or ```-o``` since ```KokkoksKernels::Experiment::Parameters``` already

[2019-07-10 14:23] srajama1 commented on #444
@rohit-mp : We do not close the issue until we merge changes into master as that is what most users to see. Whoever does the master merge will close it at that time. Let us leave it open till then.

[2019-07-10 14:24] rohit-mp commented on #444
Ah sorry, my bad.

[2019-07-23 20:17] vqd8a opened #447 "Separate LAPACK functions (e.g. gesv) from BLAS"
This issue is brought up by @mhoemmen in #436 . Plan to separate LAPACK functions (gesv, ...) from BLAS.

[2019-07-24 17:10] mhoemmen opened #448 "KokkosSparse::spmv build error (-Werror) with GCC 7.2.0"
[code]
Looks easy to fix; just cast both sides to `int`.

[2019-07-30 20:20] srajama1 commented on #87
PR #438 took care of this.,

[2019-07-30 21:29] vqd8a opened #449 "TPL BLAS support for gesv"
Support for solving a system of linear equations A * X = B using LAPACK gesv functions.
Taken care by PR #436 .

[2019-08-01 14:52] mhoemmen commented on #448
This is a build error in Trilinos' PR testing now:
[code]
It didn't show up in Trilinos before because nobody was calling `KokkosSparse::spmv` before with an input (multi)vector that's a View of const T.  I need to patch Trilinos to fix this.

[2019-08-16 18:54] brian-kelley opened #453 "read_mtx() invalid read due to loop condition"
read_mtx() in KokkosKernels_IOUtils.hpp:998 loads a list of (row,col) pairs, sorts them, and then inserts into the CRS structure one row at a time. The loop over entries in the current row only checked if the next entry matches the current row, but NOT that the end of the pair array
has been reached. This caused an invalid read just after inserting the last entry in the matrix.

To fix this, I add

[2019-08-16 18:55] brian-kelley commented on #453
Fix ready in #452, running spot check now.

[2019-08-18 18:25] mhoemmen commented on #396
It looks like the question got answered; please feel free to reopen if not.  Thanks!

[2019-08-18 18:25] #396 closed

[2019-08-19 22:37] lucbv opened #456 "SpMV Struct bug with intel_17_0_1"
Running the `spmv_struct` using `intel/17.0.1` with the following instantiations:
 - `double_int64_t_int`
 - `double_int64_t_size_t`
fails.
This needs a fix

[2019-08-20 15:48] ndellingwood commented on #453
@brian-kelley just for reference, was this related to reading one/some of the matrices as reported in #402 during issues with spgemm?

[2019-08-20 15:49] ndellingwood commented on #456
@lucbv submitted PR #457 with the fix, thanks!

[2019-08-20 18:41] brian-kelley commented on #453
@ndellingwood I was running your spgemm driver with those matrices when I discovered this, but it would have happened with any matrix.

[2019-08-28 19:52] srajama1 opened #460 "Revamp the ETI system"
It is silly to generate 500 files for every new feature. We are going in a path that is not scalable, let us delete these files and add a configure option where we generate these on the fly.

[2019-08-29 15:23] mhoemmen commented on #460
It would be nice, while we're at it, not to instantiate sparse matrix kernels for both offset types.

[2019-08-30 00:42] srajama1 commented on #275
We don't close till the changes are in master, when we do the master + Trilinos integration we will close all "InDevelop" issues.

[2019-09-10 17:46] dhollman opened #463 "Kokkos Kernels tests uses `std::random_shuffle`, which is deprecated in C++17"
Thus, tests do not compile with `KOKKOS_ENABLE_CXX17`

[2019-09-10 17:56] ndellingwood commented on #463
Occurs in `unit_test/sparse/Test_Sparse_spadd.hpp` at line 64.

[2019-09-10 21:46] brian-kelley commented on #402
@srajama1 @dabeschte The fix for this is in develop now. I tested it with adder_dcop_01.mtx, aa01.mtx and 130bit.mtx and SPGEMM_KKMEM produces the correct result on all of them (by comparing with matlab).

The remaining issue is reading "pattern" MatrixMarket files, which I'm working on now. When I did the testing above, I had to set all the scalar values to 1 in matlab to get a regular "coordinat

[2019-09-10 21:54] dabeschte commented on #402
ok cool. was the issue with adder_dcop_01.mtx and aa01.mtx matrices also because of the mtx-file reader or was this a different bug?

[2019-09-10 22:04] brian-kelley commented on #402
@dabeschte adder_dcop_01 is a regular coordinate matrix so the mtx reader worked fine on it. The bug there was the actual SPGEMM algorithm bug that just got fixed. aa01 and 130bit are both "pattern" matrices (really graphs) and were only ever affected by the mtx reader issue.

Out of curiosity, I tried running version of SPGEMM before today's fix on aa01 and 130bit with the workaround of setting e

[2019-09-10 22:51] ndellingwood commented on #448
Addressed by PR #450 by @brian-kelley, marking as InDevelop

[2019-09-10 22:53] ndellingwood commented on #443
@iyamazaki also reported running into this issue

[2019-09-10 23:40] ndellingwood commented on #463
@dhollman PR #464 merged to address this, thanks for reporting.

[2019-09-11 15:06] srajama1 commented on #443
Can we add a test for transpose ? Adding @kyungjoo-kim and @crtrott who lead all BLAS related stuff to keep them in the loop

[2019-09-11 15:07] srajama1 commented on #460
@jjwilke Can this be the next after the spack, cmake work ?

[2019-09-11 15:08] srajama1 commented on #418
Adam Humphries is working on this.

[2019-09-11 15:09] srajama1 commented on #413
@william76 Was this ever done ?

[2019-09-11 15:12] srajama1 commented on #385
@cwsmith Did the change suggested by @kyungjoo-kim help ? I am checking to see if this issue still exists.

[2019-09-11 17:05] william76 commented on #413
@srajama1 I never did get a chance on that... I got buried with doing Xpetra ETI work this summer.  The distance-2 graph coloring perf test is actually a pretty good example... I'll see if I can strip it down a little and remove some dependencies from the `test_common/` files.  Do you know of any code infrastructure that's baked into Kokkos or Kokkos-Kernels to load MatrixMarket data into a CrsMat

[2019-09-11 17:31] ndellingwood commented on #413
@william76 - here is some glue for an internal impl matrix market reader that takes a filename and store as a CrsMatrix. It won't handle matrix market files of "pattern" type properly right now but I think @brian-kelley is working on a fix.

[code]

[2019-09-11 19:17] mhoemmen commented on #413
@brian-kelley If you need an example of how to handle "pattern" matrices, check out the Tpetra Matrix Market reader.

[2019-09-11 21:48] william76 commented on #413
I put in a PR with a somewhat stripped down version of the D2GC code from the `perf_test` directory...

@brian-kelley the D2GC code is also used in the MueLu Aggregation routines. I think it's still using the `D2_SERIAL` algorithm but changing it there should be just a matter of changing which enum is passed in.

[2019-09-12 20:15] jjwilke opened #467 ""standard" install location"
Install in the package name folder `lib/cmake/KokkosKernels`.

The discussion of lib vs lib64 is pending, but delayed for now. Related to https://github.com/kokkos/kokkos/issues/2283

[2019-09-13 17:41] brian-kelley commented on #413
@william76 KokkosKernels PR #466 with the full MatrixMarket support will probably be merged in the next few days. Then you don't even need to deal with CrsMatrix, you can just do
[code]
and that will read a pattern file (or any matrix, and discard the scalar values).

[2019-09-13 19:06] william76 commented on #413
@brian-kelley ooh, cool!  I'll hold off mucking around with this D2GC example till that's in =)  When that's merged in can you shoot me a note?

[2019-09-16 15:30] brian-kelley commented on #413
@william76 It was just merged.

[2019-09-17 12:31] cwsmith commented on #385
@srajama1 With kokkos 68783a8 I was able to build on the RPI AC922 system by setting `CMAKE_EXE_LINKER_FLAGS` and enabling ' Trilinos_ENABLE_Fortran`.

[2019-09-17 15:01] srajama1 commented on #385
Perfect, thanks ! We will add this to the wiki on compiling and close the issue.

[2019-09-18 18:51] brian-kelley opened #468 "graph and sparse unit tests fail under CUDA, when kokkos deprecated disabled"
When building current develop KokkosKernels inside Trilinos (with CMake), configured with ``-DKOKKOS_ENABLE_DEPRECATED_CODE=OFF``, the following tests fail:

``KokkosKernels_sparse_cuda_MPI_1``
``KokkosKernels_graph_cuda_MPI_1``

[2019-09-18 19:06] ndellingwood commented on #468
@brian-kelley can you post more info about your configuration, system tested on, and the specific tests that failed? You should be able to rerun with something like `ctest -R KokkosKernels_sparse_cuda_MPI_1 -VV`

[2019-09-18 19:41] brian-kelley commented on #468
@ndellingwood I discovered this by building Trilinos with Kokkos/Tpetra deprecated code disabled builds, so it happens with the kokkos/kokkos-kernels Trilinos snapshots. But I also tried it with
Platform: RHEL7, Pascal61 GPU (Quadro P2000), Skylake Xeon
Compiler: GCC 7.2.0, CUDA 10.1
Kokkos version: Trilinos snapshot, corresponding to 2983b80d9
Kokkos-Kernels version: Trilinos snapshot (d86db1111)

[2019-09-24 15:31] brian-kelley commented on #468
@ndellingwood I figured out what was happening and have a fix in #472.

[2019-09-24 17:20] brian-kelley commented on #468
@srajama1 Ah, the maximum team size is actually coming from Kokkos::TeamPolicy::team_size_max(), not anywhere in KokkosKernels. So either that has a bug or we're interpreting its return value wrong.

[2019-09-24 17:56] crtrott commented on #468
@no the problem is that you divide the team_size by the vector_length and get zero. Generally the new non-deprecated interfaces give you a correct handle which includes the option to provide a vector_length. You should do that, in which case Kokkos will give you a team_size which does take vector length into acocunt:

See documentation here:
https://github.com/kokkos/kokkos/wiki/Kokkos::TeamPolicy

[2019-09-24 18:14] brian-kelley commented on #468
@crtrott So for CUDA, team size is now measured in warps, not threads? I think that means I need to do this:
[code]

[2019-09-24 18:29] crtrott commented on #468
No team size is not measured in warps. It takes into account the vector length though.
Here is two simple cases: for a small kernel with say only 32 registers used:
[code]

If you use per thread scratch memory it could be more like this:
[code]
since the vector_length doesn't effect the total scratch memory utilized.

[2019-09-24 18:30] crtrott commented on #468
Do my examples above make sense?

[2019-09-24 18:36] brian-kelley commented on #468
Yes they do, thank you. This should be a simple fix then, since the only change is to not divide maxTeamSize by vector_length.

[2019-09-24 22:01] brian-kelley opened #473 "Work tracking issue for batched sorting algorithms (#461)"
This issue is just for discussing work on the radix and bitonic sorting algorithms in PR #461.

Things to do before merging:

- [ ] Documentation in the wiki (when to use each algorithm)
- [ ] Performance results on the benchmark section of wiki
- [ ] Create permanent performance tests in perf_test/
- [x] Use KokkosBatched naming conventions (capitalized "Vector" or "Team" before the name)
- [x] M

[2019-09-24 22:08] brian-kelley opened #474 "Wrong team size heuristic used for SPGEMM when Kokkos deprecated=OFF"
Follow up and closely related to #468. This issue is for discussing a more permanent fix than #472, which fixed all the unit test failures but still chooses very sub-optimal team sizes on CUDA.

[2019-09-24 22:17] brian-kelley opened #475 "Work tracking issue for cluster Gauss-Seidel (#455)"
An issue for tracking work and discussing the cluster Gauss-Seidel pull request #455.

- [x] Wiki update under "Sparse"
- [ ] Benchmarks for a selection (or all) the SPD matrices from the SuiteSparse collection. Compare setup time, solve time and iteration count.
- [x] Add permanent performance tests that do the above
- [x] Add this as a feature in Ifpack2::Relaxation
- [x] Make sure reasonable de

[2019-09-24 22:29] srajama1 commented on #475
Note Ifpack2 changes can come after the Kokkos 3.0 merge into Trilinos.

[2019-10-01 15:53] vqd8a opened #477 "test_all_sandia fails with missing kokkos/core/src/Makefile"
Has anyone encountered this issue? When I run the KK spotcheck with the ```test_all_sandia``` script (against Kokkos develop branch), it fails because the ```kokkos/core/src/Makefile``` cannot be found. Message below:
```make[2]: /ascldap/users/vqdang/Kokkos/kokkos/core/src/Makefile: No such file or directory```
```make[2]: *** No rule to make target `/ascldap/users/vqdang/Kokkos/kokkos/core/src/M

[2019-10-01 16:56] ndellingwood commented on #477
@vqd8a to run spot-checks use the master branch of Kokkos. Changes in Kokkos develop branch while working on CMake support resulted in removal of ability to install Kokkos using the Makefile build system, see kokkos/kokkos#2332 and kokkos/kokkos#2339 for details.

[2019-10-01 16:59] ndellingwood commented on #477
Following completion/stabilization of kokkos/kokkos#2299 (updating of automated testing scripts) and merge of PR #471 we will need to do add similar new scripts for kokkos-kernels to regain ability to test against kokkos develop branch. This will be a requirement before the 3.0 release.

[2019-10-03 18:54] brian-kelley opened #478 "League size off-by-one in some places"
In many places, KokkosKernels calculates the league size as ``num_rows / rows_per_team + 1``. In most cases this is exactly correct, but if ``rows_per_team`` divides ``num_rows`` evenly then the number of teams is 1 greater than needed. I'm sure the runtime overhead for one extra team that returns immediately is very small, but I propose that we fix this by changing these to ``(num_rows + rows_per

[2019-10-06 05:45] nate945 opened #479 "Kokkos_ArthTraits.hpp 'min' inconsistency/bug"
The function ‘Kokkos::Details::ArithTraits<T>::min()’ is documented as returning the same value as numeric_limts::min(), e.g. the smallest positive value of a real (e.g 1.17e-38 for a float).  However for standard floats and doubles it appears to actually be equivalent to numeric_limits::lowest() and returns the most negative value of a real (e.g. -3.40e+38 for a float).  Looking at the header fil

[2019-10-06 15:53] nate945 commented on #479
Note there is a lot of code in Sierra and elsewhere that relies on the current 'lowest' return value for min.  So if the behavior were to switch to the documented behavior a lot of things would break.  For what it is worth I recommend resolving this by either:
a)  Deleting the 'min' function and replacing with 'lowest' to force the update of dependent functions
or
b)  Updating the header file comm

[2019-10-10 16:36] jjwilke opened #480 "FindMKL module: which mkl versions to prioritize"
CMake can be set to compile/link with MKL flags for each of the follow versions:

* Intel10_32 (intel mkl v10 32 bit)
* Intel10_64lp (intel mkl v10+ 64 bit, threaded code, lp64 model)
* Intel10_64lp_seq (intel mkl v10+ 64 bit, sequential code, lp64 model)
* Intel10_64ilp (intel mkl v10+ 64 bit, threaded code, ilp64 model)
* Intel10_64ilp_seq (intel mkl v10+ 64 bit, sequential code, ilp64 model)
*

[2019-10-10 16:52] jjwilke commented on #480
I think the only difference is that ILPL is 64-bit integers and LPL is 32-bit integers? Which integers do we want to prefer and do we want to prefer threaded MKL?
I can make this configurable, but have to pick defaults.

@crtrott @srajama1 @kyungjoo-kim @ndellingwood
Is there someone more versed in MKL that can tell me how to do the defaults?

[2019-10-10 17:06] kyungjoo-kim commented on #480
I would first check if the compiler is intel or not . If the compiler is intel, instead of giving compile/link flags, we can just give "-mkl". If the compiler is not intel and still we want to check mkl upon request, I would go for threaded version with 64bit int. MKL automatically turns off threading if the mkl call is made inside of opemp region.

[2019-10-10 18:20] kyungjoo-kim commented on #480
I think that using "-mkl" whenever possible is the most portable way for intel compilers. I think that intel probably used to have many troubles in guiding users to use correct compile/link flags and developed the idea of using "-mkl" and it is a simple solution.

[2019-10-12 16:28] srajama1 opened #481 "Warning in IOUtils"
/ascldap/users/srajama/work_repos/kokkos-kernels-main/perf_test/sparse/KokkosSparse_block_pcg.cpp(495): here

/ascldap/users/srajama/work_repos/kokkos-kernels-main/example/buildlib/install/include/KokkosKernels_IOUtils.hpp(1037): warning: statement is unreachable
          detected during:
            instantiation of "int KokkosKernels::Impl::read_mtx(const char *, lno_t *, size_type *, size_type

[2019-10-18 23:36] brian-kelley commented on #481
@srajama1 What compiler were you using? I don't get the warning on GCC 7.4. I think your compiler is being way too clever, since std::is_integral<double>::value is false at compile time the "throw" branch is always taken.

I think I know how to fix it (make it an if-else instead of an if-fallthrough) but I want to be able to replicate it to know that I fixed it.

[2019-10-18 23:56] srajama1 commented on #481
I just use "source Trilinos/cmake/std/atdm/load-env.sh cuda-release-Pascal60" on white which gets gcc 7.2.0.

However, I use "-Wall -pedantic -Werror -O3 -g -Wshadow -Wsign-compare -Wtype-limits -Wuninitialized", may be that makes the difference.

[2019-10-19 15:51] srajama1 opened #482 "Enable library style compilation of batched LA libraries"
Customer request from Cosmin Safta.

[2019-10-21 19:47] brian-kelley commented on #481
I replicated the warning and have a fix, running spot checks now.

[2019-10-22 17:32] csiefer2 opened #484 "SPMV Documentation Incomplete"
Could we please put a formula on the page that says what this routine actually does, specifically what part of the calculation alpha and beta are applied to?

https://github.com/kokkos/kokkos-kernels/wiki/SPARSE-2%3A%3Aspmv

[2019-10-22 17:33] csiefer2 commented on #484
@ndellingwood

[2019-10-22 17:37] ndellingwood commented on #484
@csiefer2 page updated, it computes

`y = beta*y + alpha*Op(A)*x`

[2019-10-24 19:39] aprokop commented on #349
Just wanted to let you know that I still got `internal compiler error` on gcc-7.4.0 on Summit:
[code]
The following fixed it for me:
[code]

[2019-10-25 14:55] srajama1 commented on #349
Strange ... Did some one actually report the error ?  @ndellingwood can we put a patch in ?

[2019-10-25 16:13] ndellingwood commented on #349
@srajama1 yeah, let me test this more carefully to confirm this also works with gcc/7.3; white has gcc/7.4 available but was not yet added to test_all_sandia which is how this slipped through, I'll make sure to get this coverage added as well.

[2019-10-25 16:56] ndellingwood commented on #349
I wasn't able to reproduce the issue testing with gcc/7.4 in a serial build on White with c++14 support enabled, here is my generated makefile options:
`Generating Makefiles with options  CXX=/home/projects/ppc64le/gcc/7.4.0/bin/g++ KOKKOS_DEVICES=Serial KOKKOS_ARCH=Power8 CXXFLAGS="-O3 -Werror -Wall -Wshadow -pedantic -Wsign-compare -Wtype-limits -Wignored-qualifiers -Wempty-body -Wclobbered -Wun

[2019-10-25 17:24] ndellingwood commented on #349
Same test passed with the suggested change, I'll test more completely and then put in the PR with the change and updated scripts to make sure gcc/7.4 is also tested..

[2019-10-25 17:55] aprokop commented on #349
Of note, it was part of the Trilinos config, and I used `-DCMAKE_CXX_STANDARD=14` and not specify any other cxx11 related flags (like `-DTrilinos_CXX11_FLAGS`.

[2019-10-25 22:53] ndellingwood opened #486 "Post-CMake merge and 3.0 items"
Reminder list of items following merge of ~~#471 (previous)~~ now #491

- [x] Re-enable `-Werror` for the clang builds on kokkos-dev-2 when we resume testing off of Kokkos' develop branch
- [x] Add more testing configurations to kokkos-dev-2 (cover items in spot-check)
- [x] Convert testing to use test_all_sandia replacement script patterned from kokkos' cm_test_all_sandia script

[2019-10-29 13:59] sethrj commented on #395
Any update on this? Our group would really like to be able to update to a newer Trilinos (for starters, one that can even build with the current version of tribits...) and since we need to be able to clone and build on Windows machines, this bug is blocking.

[2019-10-29 14:03] sethrj commented on #395
Also is there something preventing these files from being generated at configure time? It seems to me like it might be better to have a CMake script do this based on the enabled configurations rather than pre-generating everything in a bash script and having CMake "glob" the needed files.

[2019-10-29 14:04] srajama1 commented on #395
@sethrj : There is a PR waiting to go in. @ndellingwood Is there any thing blocking it from merging  it ?

[2019-10-29 14:17] sethrj commented on #395
Awesome!

[2019-10-31 01:00] srajama1 opened #488 "Feature request : Support multiple rhs in SGS efficiently"
Feature request : <edited based on the discussion below> Support multiple rhs in MT-SGS efficiently.  Currently,  it is implemented but it could be better if we pass the multivector to Kokkos Kernels, which accepts and iterates on all the vectors. Based on comment by @mhoemmen serial SGS also does the same.

Customer:  Exawind

@brian-kelley : One more thing when you are at SGS.

@iyamaza found th

[2019-10-31 16:45] mhoemmen commented on #488
It's implemented, but it's slow (it just loops over columns on the outside).  I'm pretty sure Ichi was talking about the not-multithreaded case.

[2019-10-31 16:54] brian-kelley commented on #488
@mhoemmen Are you talking about inside Ifpack2 Relaxation? It looks like Relaxation::MTGaussSeidel() does a loop over vectors. There would be a significant win there from moving that loop all the way inside the KK SGS implementation, from fewer kernel launches and better locality with the matrix accesses.

[2019-10-31 17:03] lucbv commented on #488
@brian-kelley You would probably gain time on a GPU by not having to load the matrix in memory multiple times.

[2019-10-31 17:47] mhoemmen commented on #488
@iyamazaki Are we talking about MTGaussSeidel or the non-MT Gauss-Seidel?

[2019-10-31 17:55] iyamazaki commented on #488
Hi, @mhoemmen. I was looking at MTGaussSeidel, which seems to loop over the vectors in Ifpack2? But, I did not look at what the KokkosKernel does.

[2019-10-31 19:59] srajama1 commented on #488
I checked the MT-SGS case and I should have been clear in the original posting. It is implemented but it not in an optimal way.

[2019-10-31 20:01] mhoemmen commented on #488
Non-MT Gauss-Seidel has the same issue but it's separate code.

[2019-10-31 20:08] brian-kelley commented on #488
Within KokkosKernels MT-SGS multiple RHS doesn't exist at all. Within Ifpack2 the inefficient implementation (outermost loop over vectors) exists.

[2019-11-04 19:04] seheracer opened #489 "Bug in test_all_sandia: Some complex_double tests are failing on white with "--with-tpls=cublas""
### Description

Some complex_double tests fail on white (Pascal60) when test_all_sandia script is used with the cublas option:

./test_all_sandia cuda --spot-check --with-cuda-options=enable_lambda --with-tpls=cublas --arch=Power8,Pascal60

Output:
[----------] Global test environment tear-down
[==========] 365 tests from 1 test case ran. (108251 ms total)
[  PASSED  ] 341 tests.
[  FAILED  ] 24

[2019-11-05 15:13] lucbv commented on #484
I feel this can be closed now...

[2019-11-05 15:13] #484 closed

[2019-11-05 22:22] brian-kelley opened #492 "test_common/KokkosKernels_MyCRSMatrix.hpp redefines existing CRS structures"
In ``test_common/KokkosKernels_MyCRSMatrix.hpp``, there is a MyKokkosSparse namespace with redefinitions of StaticCrsGraph (which exists in KokkosContainers) and CrsMatrix (which exists in KokkosKernels/sparse). These classes only get used in performance tests. ``MyKokkosSparse::StaticCrsGraph`` keeps a num_cols member (unlike ``Kokkos::StaticCrsGraph``) but other than that, they seem to have iden

[2019-11-07 19:33] brian-kelley opened #493 "perf_test/sparse/spmv has its own MatrixMarket reader"
Replace with IOUtils ``read_kokkos_crst_matrix()`` to get complete support for all the MatrixMarket formats, plus to remove duplicated code.

[2019-11-07 19:33] brian-kelley commented on #493
``SparseMatrix_MatrixMarket_read()`` at perf_test/sparse/spmv/matrix_market.hpp:87

[2019-11-13 17:51] brian-kelley opened #494 "Sequential SOR is not tested"
Tpetra uses our sequential SOR in ``CrsMatrix::localGaussSeidel()``, but it is not tested at all within KokkosKernels.

Make a simple test that generates a diagonally dominant matrix (like the parallel GS tests) and runs a few sweeps, then checks the residual.

[2019-11-13 20:23] mhoemmen commented on #494
There should be a test already in Ifpack2 or Tpetra for this -- you could just copy-paste it.  It makes sense for there to be a test in each package, since Ifpack2 provides a global preconditioner and kokkos-kernels the local kernel.

[2019-11-13 21:07] brian-kelley opened #495 "Want balanced distance-1 coloring"
All current coloring algorithms try to greedily minimize the number of colors in a single pass: conflicts get resolved by looking for a valid color starting at 1 and going up. However, this means that the color sets vary a lot in size (color 1 is the most common, color N is usually very rare).

For example, here are the color set sizes for af-shell7, from a structural problem:

27538 27538 27538 2

[2019-11-13 22:07] mhoemmen commented on #495
If the last colors are that small, it might make sense to forget about parallelism and just run some sequential host code, no?

[2019-11-19 05:16] ndellingwood opened #498 "findRelOffset seg-faults when tested in Cuda builds (reenabled in the CMake update branch)"
This occurred while testing the CMake PR #491 with Cuda.

Testing of `sparse_findRelOffset_*` was disabled in Cuda builds in the Makefile build system with a note that this is known to only run sequentially on host (same with trsv). The test is reenabled in the CMake PR.

The failure is because findRelOffset (in kokkos-kernels/src/sparse/KokkosSparse_findRelOffset.hpp) accepts Views with allocatio

[2019-11-19 05:18] ndellingwood commented on #498
I'm marking as a bug since proper safety to handle this use case appropriately is missing, though rewriting the routine to execute on device would be an enhancement.

[2019-11-19 05:20] ndellingwood commented on #498
Looks like revision of this routine was considered in issue #10

[2019-11-19 05:42] srajama1 commented on #498
I don't envision this function being called anywhere outside Trilinos, however KK should not depend on UVM. Let us fix this for 3.0.

[2019-11-19 14:58] bartlettroscoe commented on #395
FYI: Look like https://github.com/kokkos/kokkos-kernels/pull/424 might just have this fixed (just merged to separate KokkosKernels repo yesterday).

But we can't take advantage of this until Kokkos and KokkosKernels get updated (shapshotted) in Trilinos.  Any idea when that might occur?

@sethrj, can someone try cloning the kokkos-kernels GitHub repo and see if this fixes the Windows clone problem

[2019-11-19 17:03] mhoemmen commented on #498
@ndellingwood wrote:

Do you mean, throughout `findRelOffset` itself, or throughout whatever function is calling `findRelOffset`?  The `findRelOffset` function is marked as `KOKKOS_FUNCTION` and can certainly be called from either device or host.

[2019-11-19 17:38] ndellingwood commented on #498
@mhoemmen I didn't phrase very clearly, sorry, let me try again:

Yes, along with the possibility this routine can be called as a free function from the host with Views or pointers to device data (which is what the unit test was doing). The View case can be checked easily by checking if the data is accessible on host. The tougher check is when a pointer to device data is passed to the function and

[2019-11-19 17:45] ndellingwood commented on #498
I had focused on the failing test case (calling function from host with data on device); when the function is called within a device kernel then UVM is clearly not required, but when called from the host with arguments pointing to device data UVM is required to avoid the seg fault. The UVM requirement I mentioned was based on assumption that the Cuda test is run within Trilinos, and that the seg-f

[2019-11-19 17:53] ndellingwood commented on #498
If no one is using this outside of Trilinos then we should consider moving to the impl namespace and document for developers use-cases to avoid.

[2019-11-19 18:09] mhoemmen commented on #498
@ndellingwood wrote:

It sounds like the unit test was broken; we can fix that.  Do you have evidence to suggest that the function itself is broken?

[2019-11-19 18:22] ndellingwood commented on #498
@mhoemmen

The function isn't broken if used correctly AFAIK (that is works fine when not calling from host with device data without UVM enabled). Since there is no catch for possible misuse aside from a seg-fault I marked this as a bug, but I'll change the labeling if you or others disagree. The unit test as-is is broken, but pointed out there is possibility for misuse of the function. We can add

[2019-11-19 18:35] ndellingwood commented on #498
@mhoemmen To resolve the issue I'll add a PR to fix the unit test for the Cuda case and add a comment in the header about potential for misuse that should be avoided.

[2019-11-19 18:38] jjwilke commented on #498
@ndellingwood What is the fix? I pushed a quick fix into the cmake-rebased branch to get the tests to pass.

[2019-11-19 18:41] ndellingwood commented on #498
@jjwilke Thanks. The unit test is broken, I'll put in a separate PR for that. The function isn't broken but has potential for misuse without any mechanism for catching it, but for now I'll just add documentation.

[2019-11-19 18:58] mhoemmen commented on #498
I think this is a bug in the unit test, not the function.  If any function is marked `KOKKOS_*FUNCTION` and it accesses data, then that function assumes that the data are accessible on device.  Any function that takes an array or `Kokkos::View` has that behavior.

[2019-11-19 22:12] sethrj commented on #395
@bartlettroscoe It works, but confusingly, at least on the machine and in the directory I chose, checking out the fix's parent commit worked as well... as did the Trilinos master. For at least `a0198b2beadaa821ebf856e1b15ccc2558b1b824`, the largest file in the repository has length 233:
[code]

but ironically I wasn't able to check out the latest TriBITS, which has a 250-character relative path:
[

[2019-11-19 22:29] bartlettroscoe commented on #395
I added https://github.com/TriBITSPub/TriBITS/issues/297.  That can be fixed.  (Ironically, I had to add a feature to compress those file names using the generation of a hash in order to address some test names in one of our ATDM codes that is three times that long :-).  Therefore, for the purpose of this test, I think I can just have to code shorten the file names in testing mode.)  Also ironic i

[2019-11-20 18:07] ndellingwood opened #500 "spgemm cuda build with complex_double: error( cudaErrorMisalignedAddress) with Kokkos develop branch"
The following spgemm unit test fails when building kokkos-kernels with the kokkos develop branch, detected during testing of PR #491 :

`cuda.sparse_spgemm_kokkos_complex_double_int_int_TestExecSpace`

With error message

[code]

The failure follows from changes to `Kokkos::Complex` as discussed in kokkos/kokkos#2255. @jjwilke confirmed that removal of `alignas` from `Kokkos::Complex` returns the

[2019-11-21 05:21] ndellingwood commented on #500
The failure occurs due to how the allocation of shared memory per team is split among various pointers into the allocation (e.g. begins, nexts, keys, vals used by the HashMapAccumulator) by a heuristic that does not account for alignment when accessing vals (hence the misaligned address error). I think I have the start of a fix.

[2019-11-21 05:58] ndellingwood commented on #480
@jjwilke does the FindMKL module in #491 account for what was discussed here?

[2019-11-21 06:04] ndellingwood commented on #467
@jjwilke just to confirm, we are now using GNUInstallDirs in #491 and this is resolved?

[2019-11-21 06:05] ndellingwood commented on #460
Cross-referencing #496

[2019-11-21 16:35] jjwilke commented on #500
@ndellingwood Ah, okay. Good catch. So this is almost certainly a KokkosKernels problem, not a Kokkos issue.

[2019-11-21 16:50] srajama1 commented on #500
@brian-kelley @seheracer

[2019-11-21 16:57] crtrott commented on #500
Note you should fix this not just for complex, but you need to take alignment in general into account. We had the same mistake in our shared memory allocation before - shared memory on CUDA must be correctly aligned for the data type, other wise you get this access error.

[2019-11-21 21:06] jjwilke commented on #467
Yes, this is resolved.

[2019-11-22 00:33] ndellingwood commented on #500
Similar shmem alignment issues in `PortableNumericCHASH` ctor. In part it requires a similar fix for shared mem like I'm doing in `NumericCMEM`, but also looks like adjustment of the memory pool's chunk size is needed to fix other alignment issues, working on this.

[2019-11-22 18:02] cgcgcg opened #501 "Invalid coloring created in distance-2 graph coloring"
MueLu is using `COLORING_D2_SERIAL`, and the produced colors appear to be invalid. I checked this by hacking up the test `graph_verify_distance2_color` from `KokkosGraph_Distance2Color_impl.hpp` to not bug out for rectangular matrices. This occurred on lassen.

I can provide graphs and the produced colors.

[2019-11-22 18:54] srajama1 commented on #501
Oh man, yes please share the graphs with me.

[2019-11-23 07:22] cgcgcg commented on #501
There might be some other issues in MueLu that we need to address first. Some of these dumped graphs look quite unsymmetric..

[2019-11-25 17:14] brian-kelley commented on #501
@cgcgcg Even if the global graph is symmetric, is it possible that the local graph has remotes? The D2 coloring internally filters out remote vertices, but not columns. E.g. if numRows is 4, but row 2 is adjacent to {0,2,3,5}, then the D2 will try to access the rows/vertices adjacent to column 5, which will invalid since MueLu is passing in the same graph for both rows->cols and cols->rows.

[2019-11-25 17:21] cgcgcg commented on #501
Even the local part was unsymmetric. We can filter out the off-rank entries.

[2019-11-27 18:15] ndellingwood opened #504 "statement is unreachable warning messages in gs handle with cuda"
These warning messages are occurring in cuda builds detected during testing of PR #491 and #503 :

[code]

PR on the way to remove the warning.

[2019-11-27 18:17] ndellingwood commented on #504
PR #505 with fix.

[2019-12-03 16:14] lucbv opened #506 "SpMV unit-test tolerance is incorrectly set"
In `Test_Sparse_spmv.hpp` the following pattern is found in most tests:
[code]
which is wrong when testing with `Kokkos::Komplex<float>`

[2019-12-04 18:10] brian-kelley opened #508 "HashmapAccumulator has several unused members, misnamed parameters"
The HashmapAccumulator has three members (``hash_key_size``, ``max_value_size``, and ``used_size``) that are not used internally, but they are set by the constructors. ``used_size_`` and ``max_value_size_`` (with trailing underscores) are instead passed to the insert() routines.

``hash_key_size_`` is not passed to any insert routines. It is the number of possible hash outputs, aka 1 plus the bit

[2019-12-04 22:18] ndellingwood opened #509 "Dot-based GEMM Cuda specialization - update for beta == 0 case"
The Dot-based GEMM Cuda specialization needs updating for compatibility with Trilinos to handle the case of `beta==0` for matrices `C` with `NaN` entries.

[2019-12-04 22:31] ndellingwood commented on #486
Some open issues to resolve for 3.0 testing and release:

- [ ] spgemm shmem alignment issues: Issue #500  PR #503 @ndellingwood

- [ ] spmv unit testing tolerance settings: Issue #506  PR #507 ? @lucbv

- [ ] dot-based GEMM (Cuda spec) handling of `beta==0` case:  Issue #509  @seheracer
        Follow-up - possible slight loosening of tolerance in failing Trilinos tests to allow for diffs caused

[2019-12-06 19:56] ndellingwood commented on #486
Issues to resolve exposed by Trilinos testing:

- [ ] batched_lu_serial: fix for ambiguous ? operation error (Sacado) : PR #512

[2019-12-06 20:57] srajama1 opened #513 "Need BLAS interface for <>trsm"
This is a user request for Exawind milestone runs. @iyamazaki

@vqd8a : Do you have time do it ? Ideally we would like it in 3.0

[2019-12-06 21:04] vqd8a commented on #513
@srajama1 do we need KokkosKernels implementation for ```trsm``` as well or just TPL interfaces?

[2019-12-06 23:23] iyamazaki commented on #513
I think just TPL would be enough for now.

[2019-12-06 23:27] vqd8a commented on #513
@iyamazaki @srajama1 Thanks. I will work on it asap.

[2019-12-07 00:09] iyamazaki commented on #513
Thank you!!

[2019-12-07 19:06] srajama1 commented on #513
@vqd8a  Thanks a lot ! I appreciate the help.

[2019-12-10 17:27] ndellingwood commented on #486
- [ ] Recent issue in ATDM testing with Tpetra MV following #510 -related patch
See trilnos/Trilinos#6418

[2019-12-11 18:39] lucbv opened #517 "CMake build system does not work properly on CUDA platforms"
@ndellingwood
I am just using this issue to track a couple of changes that need to happen in the CMake build system of Kokkos-Kernels for my build to work on white:

1. the tests of Kokkos are enabled by default which make building kokkos-kernels much slower
   proposed fix: add a variable called `KOKKOS_DO_TESTS` and set it to off by default, also add logic to allow users to turn it on explicitly

[2019-12-11 18:48] ndellingwood commented on #517
Adding a couple more items from conversations with @lucbv

3. --with-cuda=* should not break when an explicit path for CUDA_ROOT is provided

4. Parse --cxxflags input with space separators

[2019-12-11 19:05] brian-kelley commented on #494
Fixed in #515

[2019-12-11 20:06] mhoemmen commented on #494
@brian-kelley U ROCK :D

[2019-12-12 00:31] ndellingwood commented on #517
See PR #519

[2019-12-12 14:58] lucbv commented on #517
Thanks @ndellingwood this solves my issues : )

[2019-12-12 14:58] #517 closed

[2019-12-12 17:40] ndellingwood commented on #467
Part of #491

[2019-12-12 21:40] brian-kelley opened #523 "Expose graph clustering, RCM, BFS as first-class KokkosGraph features"
See #475

These three graph algorithms are only used by cluster Gauss-Seidel now, but would be useful for outside users. Move them to src/graph and make them first-class features of KokkosGraph.

- [ ] ETI (hpp/spec/impl files for each thing)
- [ ] Wiki documentation
- [ ] Standalone unit testing

[2019-12-12 21:49] srajama1 commented on #523
@seheracer has some ideas about BFS ... please coordinate. She had suggestions for RCM as well. If a better RCM helps apps they will be very interested.

[2019-12-13 07:11] ndellingwood opened #527 "Link errors building KokkosSparse_gs.exe perf test"
With the kokkos-kernels develop branch I'm unable to build the gauss-seidel performance test `KokkosSparse_gs.cpp` due to link errors:

<details>
 <summary>LinkErrors</summary>

[code]
</details>

develop branch SHA: 4cd9627e5bbe2bef8554c7bc6ea637bf849df2b8

OpenMP build with gcc/6.5 on my Mac laptop

Configuration:
[code]

[2019-12-13 07:21] ndellingwood commented on #509
Related PRs #510 #524

[2019-12-13 07:27] ndellingwood opened #528 "GEMM Serial test failures"
The GEMM unit test is failing in serial builds on White with the xl compiler following merge of PR #524

The change likely causing the serial failures was the modification in
` unit_test/blas/Test_Blas3_gemm.hpp`

from this

[code]

to this

[code]

@seheracer do you think if we add if-guards etc to allow the new `fill_random` calls when Cuda is enabled and allow the previous behavior otherwise wi

[2019-12-13 08:37] ndellingwood commented on #528
Also failing with these builds:
[code]

[2019-12-13 17:11] ndellingwood commented on #528
I think this will get tests back to passing:

[code]

I'll put in a PR shortly

[2019-12-13 17:33] seheracer commented on #528
@ndellingwood Thanks! I shouldn't have skipped the extensive testing, lessons learned..

[2019-12-13 17:44] ndellingwood commented on #528
Yeah, my mistake for requesting to skip it since the Trilinos tests passed which included host builds, lessons learned indeed...

[2019-12-13 18:13] ndellingwood commented on #528
The change above worked, single host run on kokkos-dev-2 confirmed:

[code]

I'll have a PR ready pretty quick here

[2019-12-13 18:17] ndellingwood commented on #528
PR #529 issued.

[2019-12-13 20:02] brian-kelley opened #530 "UniformMemoryPool does not re-initialize chunks that are freed"
When a UniformMemoryPool is constructed, the entire arena (all chunks) are (optionally) initialized with a value "initialized_value". But this value is not saved in the class, and if a chunk is used and then freed, it is never re-initialized. Effectively, there is no guarantee and no O(1) way to check if a chunk returned by allocate_chunk() is actually initialized or not, which seems to defeat the

[2019-12-13 20:40] srajama1 commented on #530
@brian-kelley : Lot of subtle issues here.

First the pattern we want:
Initialize memory pool
Someone gets a chunk and uses it
They release it with values reset to original

This is a common pattern in several algorithms. If someone is releasing memory with arbitrary values, then it could lead it problems. I agree users don't know what it is initialized to as it is not in the class. So far we have

[2019-12-13 23:46] vqd8a commented on #513
@iyamazaki @srajama1 I just pushed the PR for this.

[2019-12-15 01:33] jjwilke opened #534 "kokkos-dev-2 CUDA modules leading to cm_test_all errors"
The cuda/10.1 module is missing `cublas` libraries. Additionally, even working around the missing libraries, it reports device version `0.0` causing all tests to fail. The cuda/10.0 module works as does the sems-cuda/10.1.

[2019-12-16 03:32] ndellingwood opened #539 "gemv transpose mode issues with cublas and M == 0"
Recent updates with added testing for `gemv` (see #514) added a testing condition that appears to be unsupported by cublas in Transpose mode when `M == 0` [(see comments in the documentation)](https://docs.nvidia.com/cuda/cublas/index.html#cublas-lt-t-gt-gemv).

As a first pass I'm going to guard the test to prevent the failure with TPLs not supporting this case.

The kokkos-kernels fall-back impl

[2019-12-16 03:42] ndellingwood commented on #539
Detected testing with the following:

Machine - kokkos-dev-2

kokkos develop branch SHA kokkos/kokkos@0378c0fa18fd366a6fe5e94b04b11e8e46836df3

kokkos-kernels develop branch SHA 5d5d07ccc0b16f097542f714870d1dd50451c571

Configuration:
[code]

[2019-12-16 03:45] ndellingwood commented on #513
Cross-reference PR #532

[2019-12-16 03:46] ndellingwood commented on #534
@jjwilke I'll mark this as bug due to the cm_test_all_sandia script using a module without proper TPL support

[2019-12-16 03:48] ndellingwood commented on #508
I'll mark this cleanup enhancement since this isn't a bug

[2019-12-16 05:41] ndellingwood commented on #539
PR disabling the M==0 test with TPLs in #540

[2019-12-16 06:06] mhoemmen commented on #539
@ndellingwood wrote:

Do you mean the condition on `x`, that it have at least `(1+(m-1)*abs(incx))` elements if `transa != CUBLAS_OP_N`?  That should only be a problem if `incx != 1`.  cuBLAS seems to have inherited this condition from [the Reference BLAS](http://www.netlib.org/lapack/explore-html/d7/d15/group__double__blas__level2_gadd421a107a488d524859b4a64c1901a9.html).

CUDA needs to be able t

[2019-12-16 07:35] ndellingwood commented on #486
- [ ] gemv transpose mode with TPLs #539
- [ ] perf test link errors #527

[2019-12-16 22:02] brian-kelley commented on #344
@kyungjoo-kim @mhoemmen I was able to replicated the failures on ``openmp.gemm_complex_double`` and ``serial.gemm_complex_double`` with GCC 6.4.0 on white using the CMake test script, and also with every compiler using the Makefile test script. So I think that one might be an actual bug, not an IBM compiler bug.

[2019-12-17 06:12] mhoemmen commented on #344
@brian-kelley Is that code calling the system BLAS or is it calling a hand-written matrix-matrix multiply?

[2019-12-17 06:18] brian-kelley commented on #344
@mhoemmen It's the hand-written KokkosBlas::gemm.

[2019-12-17 16:44] brian-kelley commented on #527
Fixed in #542.

[2019-12-17 18:06] brian-kelley opened #543 "CUDA 10, GCC 7.4.0 internal error in GEMM impl"
On a build with GCC 7.4.0 and CUDA 10.1, I get an internal compiler error in gemm_impl.hpp:
[code]
I've tried to work around it by making trivial syntax changes but that didn't make a difference. If I break up this statement into several small operations, the real issue is in the ``idx_j<A.extent_int(1)`` part (the ternary operator is OK).

[2019-12-17 18:14] ndellingwood commented on #543
@brian-kelley this has been a weird issue popping up in some gcc compilers but not others, could you try removing the `const` from the `idx_j` creation and assignment lines (line 106, but other places)?

[2019-12-17 18:17] ndellingwood commented on #543
There is a PR that may fix this but I was nervous to merge because this issue comes up inconsistently with some gcc versions, and changing the cxx standard adds complications as well.

[2019-12-17 18:30] mhoemmen commented on #543
I think we've had issues like this before, where changing inner lambda capture from `&` to `=` or removing `const` from indices helps.

[2019-12-17 19:54] brian-kelley commented on #543
@ndellingwood @mhoemmen Yes, removing const from the outer idx (i or j) seems to be fixing it. I added this to #544.

[2019-12-17 20:54] jjwilke opened #545 "Add SuperLU as optional CMake TPL"
Add the necessary CMake options to enable SuperLU.  This is tricky....

* SuperLU might be installed as static or shared library
* If static, SuperLU might or might not contain BLAS symbols
* If containing BLAS symbols, they might be from an external BLAS or they might be wrapper functions implemented directly in SuperLU

Not clear how much error checking and validation we want to engineer into th

[2019-12-17 20:56] jjwilke commented on #545
My recommendation is to just do a simple TPL find.  We could potentially also add a `try_compile` that builds a simple test program. If the test program fails, rather than generating an exact diagonstic, we just list all the possible reasons it could have failed.

[2019-12-17 20:57] jjwilke commented on #545
@ndellingwood

[2019-12-17 22:08] ndellingwood commented on #545
@jjwilke I like your recommendation; the need for SuperLU in this case is for a specialization of sptrsv but will not be important to the rest of kokkos-kernels.

[2019-12-18 00:25] brian-kelley opened #547 "Sparse unit tests timing out in Trilinos (esp. in debug builds)"
See trilinos issue [#6464](https://github.com/trilinos/Trilinos/issues/6464). On waterman and ride, in debug builds, the serial sparse unit tests are timing out. The OpenMP ones get close to timing out as well.

This is partially a duplicate of #253 which has been inactive for a year, but since the Gauss-Seidel tests are the most expensive and I recently rewrote them, this is a self-reminder to cu

[2019-12-18 17:18] brian-kelley commented on #501
@cgcgcg This ended up being an issue with MueLu dropping entries asymmetrically, right? If it is a dist-2 bug it would be nice to fix it for the 3.0 snapshot.

[2019-12-18 18:19] brian-kelley commented on #547
I have a branch (spot checking now) that I tested with serial, double+complex, debug on my machine. The time of ``KokkosKernels_sparse_serial`` went from 15:41 to 6:14. The matrices still have 2000 rows and 15-20 entries per row so I don't think we're losing any test coverage.

[2019-12-18 18:27] brian-kelley commented on #530
@srajama1 I'm just going to close this, since I know now that:
- chunk initialization isn't causing the spgemm bug
- algorithms using it do correctly initialize what needs to be initialized before releasing chunks

[2019-12-18 18:27] #530 closed

[2019-12-19 00:26] brian-kelley commented on #344
Hmm, today I'm not seeing gemm_complex_double fail except with IBM compilers. I started these spot checks this morning so they don't have the fixes from #550. Not sure what else changed, but I'm not going to worry about it.

[2019-12-19 06:35] cgcgcg commented on #501
I believe that we can close this. The issue was that the matrix was badly scaled (very close to machine eps), and MueLu dropping was unsymmetric.

[2019-12-19 06:35] #501 closed

[2019-12-19 07:37] ndellingwood commented on #539
I just tried reproducing this with the develop branch and not seeing the failure, will test again tomorrow to check if in case I made some mistake, been juggling multiple PRs for a few days so it's possible...

[2019-12-19 16:56] mhoemmen commented on #344
@brian-kelley Are we perhaps assuming things about alignment of `Kokkos::complex` and `std::complex` that only cause issues with IBM compilers?  That _should_ only be an issue with CUDA, where `std::complex<double>` only needs 8-byte alignment (per the Standard) but CUDA's equivalent complex type needs 16-byte alignment.

[2019-12-19 17:08] brian-kelley commented on #344
@mhoemmen I doubt it's an alignment issue, for that reason. Even if IBM handles std::complex in a special way, I think this test only involves Kokkos::complex which is just a plain old struct, with member-wise alignment requirements.

[2019-12-19 19:39] ndellingwood commented on #539
Reproduced during integration testing on Waterman, in that case the serial test failed with large diffs:

[code]

[2019-12-19 22:21] ndellingwood commented on #539
PR #551 issued with fix to call fallback impl for this failing case. The failing test posted above is now passing with the change.

[2019-12-20 23:47] #275 closed

[2019-12-20 23:47] #402 closed

[2019-12-20 23:47] #406 closed

[2019-12-20 23:47] #413 closed

[2019-12-20 23:47] #444 closed

[2019-12-20 23:47] #448 closed

[2019-12-20 23:47] #449 closed

[2019-12-20 23:47] #453 closed

[2019-12-20 23:47] #456 closed

[2019-12-20 23:47] #463 closed

[2019-12-20 23:47] #467 closed

[2019-12-20 23:47] #468 closed

[2019-12-20 23:47] #474 closed

[2019-12-20 23:47] #481 closed

[2019-12-20 23:47] #488 closed

[2019-12-20 23:47] #494 closed

[2019-12-20 23:47] #500 closed

[2019-12-20 23:47] #504 closed

[2019-12-20 23:47] #509 closed

[2019-12-20 23:47] #527 closed

[2019-12-20 23:47] #528 closed

[2019-12-20 23:47] #534 closed

[2019-12-20 23:47] #539 closed

[2019-12-20 23:47] #547 closed

[2019-12-20 23:47] #87 closed

[2019-12-20 23:48] #513 closed

[2019-12-21 17:49] bartlettroscoe commented on #395
Has anyone verified that updated Kokkos Kernels in Trilinos will clone in Windows?

[2019-12-22 01:35] ndellingwood commented on #395
@bartlettroscoe the changes haven't made it into Trilinos yet, I closed issues marked "InDevelop" to make the changelog for the release candidate that we will merge into Trilinos when we complete the promotion process after the holidays. Reopening this issue until confirmation is made post-promotion.

[2019-12-27 20:13] #543 closed

[2020-01-08 17:25] brian-kelley opened #559 "trsm_complex_double fails under OpenMP and Serial, on Intel 18 only"
I ran spot checks on Bowman with double and complex_double enabled as scalars. On intel 16 and 17, everything passes. But on intel 18, complex trsm fails. Probably a compiler bug...

[code]

[2020-01-08 17:27] crtrott commented on #559
Before you blame a compiler bug test this with Intel 19 (for example on Blake compiling for Skylake (SKX)). It might be that it is doing an optimization now which exposes a code bug.

[2020-01-09 06:34] vqd8a commented on #559
I just want to say I have run double complex TRSM tests on Blake with different Intel compilers. The tests passed on Intel 17 and Intel 19 but failed on Intel 18 as @brian-kelley saw on Bowman. I think it is possibly an Intel 18 compiler bug.

| Compilers | using MKL    | Fallback implementation    |
|-------------|------------|------------|
|intel 17.4.196       | passed      | passed     |
|inte

[2020-01-13 16:49] srajama1 commented on #559
@ndellingwood Is it ok to update spot check to use Intel 19 ? Otherwise this will mess up every spot-check.

 @crtrott We probably need to bring it to the attention of Intel team.

[2020-01-13 16:52] srajama1 commented on #344
@crtrott : This is showing up in spot-checks and not allowing us having clean spot-checks to push. We need to resolve this to make progress on other things.

[2020-01-15 21:35] kddevin opened #567 "KokkosKernels: support for TSQR"
The TSQR solver in Trilinos currently calls cusolver directly.  We're rather call KokkosKernels.  Here are the cusolver functions that we call:
[code]

The use of these functions can be seen in
https://github.com/trilinos/Trilinos/blob/master/packages/tpetra/tsqr/src/Tsqr_Impl_CuSolver.cpp
Here you can see an abstraction to six functions, templated on scalar type:
[code]
Maybe these functions woul

[2020-01-22 22:51] mhoemmen opened #574 "KokkosBlas::dot: Poor accuracy with float on Mac Clang causes Trilinos test failure"
See https://github.com/trilinos/Trilinos/issues/6633.

[2020-01-22 22:52] ndellingwood commented on #574
@mhoemmen would you submit a PR with your fix from the Trilinos PR?

[2020-01-22 22:52] ndellingwood commented on #574
If so I can test and will cherry-pick into the release candidate.

[2020-01-22 22:54] mhoemmen commented on #574
@ndellingwood https://github.com/kokkos/kokkos-kernels/pull/575 :-)

[2020-01-22 22:54] mhoemmen commented on #574
@ndellingwood I just fixed the base branch in that PR, btw.

[2020-01-22 23:23] brian-kelley opened #576 "Spot checking with CUDA 10.1 on White/RIDE"
White and RIDE support CUDA 10.1 now. Could I add that as one of the spot-check configurations? This way, all CUDA graph stuff (which I expect will be more than just Gauss-Seidel soon) will get tested in every PR.

@ndellingwood @kyungjoo-kim

[2020-01-22 23:25] ndellingwood commented on #576
Yes, and please modify the xl spot check to only test Serial on white/ride.

[2020-01-22 23:26] ndellingwood commented on #576
I'll have a PR up soon to add tpl support, started working on it then got pulled into other things before finalizing.

[2020-01-22 23:30] mhoemmen commented on #574
@ndellingwood FYI I had forgotten to test a change for complex.  I will fix it.

[2020-01-23 05:35] mhoemmen commented on #574
@ndellingwood I fixed it :-)

[2020-01-27 17:23] ndellingwood commented on #574
PR #575 merged, will be included in 3.0 release.

[2020-01-28 19:55] Lilian92 opened #583 "Can I run KokkosKernels spgemm with float or int32 type?"
I am running under ./example/buildlib/perf_test.

[2020-01-29 05:59] jjwilke opened #586 "Remove all references to Kokkos::Impl::is_same"
This has been removed in Kokkos develop - so we have now have incompatible Kokkos and Kokkos-Kernels develop branches.

[2020-01-29 15:00] srajama1 commented on #586
@crtrott Can the Kokkos team check Kokkos Kernels develop for any incompatibilities, please ?

[2020-01-29 15:36] crtrott commented on #586
It is an impl function which was only needed prior to requiring C++11 i.e. prior to existence of KokkosKernels - we didn't expect anyone to actually use that ...

[2020-01-29 15:49] crtrott opened #587 "PortableNumericCHASH can't align shared memory"
This makes the PR for Kokkos/KokkosKernels Integration fail right now.

https://testing.sandia.gov/cdash/testDetails.php?test=100331563&build=6287299

This fails here:
KokkosSparse_spgemm_impl_kkmem.hpp:204

[2020-01-29 17:47] ndellingwood commented on #586
This is showing up in the nightlies that I switched over to using the `cm_test_all_sandia` script building against kokkos' develop branch.

[2020-01-29 17:49] ndellingwood commented on #586
[code]

Should be quick fix, I'm debugging some other stuff right now though

[2020-01-29 18:10] ndellingwood commented on #587
@crtrott yes, that was added after dealing with the shmem alignment issues. the requested shmem from the handle probably needs to be adjusted.

[2020-01-29 18:16] ndellingwood commented on #587
Original issue #500

[2020-01-29 18:34] srajama1 commented on #583
@Lilian92 Can you give me some more details ? What is the build script you used ? The code is fully templated, so yes float is supported. All the ids are ints typically. Are you trying to multiply where the matrix entries themselves are ints ?

[2020-01-29 19:23] Lilian92 commented on #583
I am sorry for the lack of details in the question.

Myself:
I am a PhD. student at Gatech working with Prof. Ümit V. Çatalyürek.

What is the build script you used ?
./example/buildlib/compileKokkosKernelsSimple.sh

The code is fully templated, so yes float is supported. All the ids are ints typically. Are you trying to multiply where the matrix entries themselves are ints ?
Yes, I am trying to m

[2020-01-29 20:06] srajama1 commented on #583
@Lilian92 Thanks for the context.

This is technically a problem with that test file which assumes double. The actual source code does not have the assumption. Can you try SCALAR to be float first ? I will see what is needed for scalar to be int.

[2020-01-29 20:22] Lilian92 commented on #583
Thank you so much for your fast reply!

I have tried with float. With float, it won't pass the compiling for spgemm.

[2020-01-29 20:23] Lilian92 commented on #583
Thanks for checking things out!

[2020-01-29 22:00] srajama1 commented on #583
Can you cut and paste the error ?

I will check.

[2020-01-29 22:37] Lilian92 commented on #583
Below is the log from '"make build-test -j". Thanks!

https://www.dropbox.com/s/hx1c3izhj4wh4bd/log?dl=0

[2020-01-30 00:50] ndellingwood commented on #587
Have a better handle on this, issues are occurring when dealing ensemble-like types.

Reverting this changes from #500 to determine `thread_memory` during construction necessary to address issue. Will put in a PR to the release-candidate-3.0 branch once fixes are confirmed.

[2020-01-30 23:48] e10harvey opened #589 "Add two BLAS/LAPACK calls needed by: Sptrsv supernode #552"
This issue is to address a subset of feedback from #552.

The following items should be addressed:
1. `KokkosSparse_sptrsv_aux.hpp` definitions of `{for,back}wardP_supernode` should be replaced with the correct KokkosBLAS / LAPACK / KokkosKernels routines. Will `KokkosKernels::Impl::permute_vector` or `KokkosKernels::Impl::permute_block_vector` work?
2. KokkosSparse_sptrsv_aux.hpp definition of `p

[2020-01-30 23:49] e10harvey opened #590 "Update Sptrsv to use KokkosBLAS"
Related to #589.

[2020-01-31 01:23] ndellingwood commented on #586
The occurrences above were the only ones poked at by the nightly test, many more files.

`find . -type f -name "*.hpp" -print0 | xargs -0 sed -i  "s/Kokkos\:\:Impl\:\:is_same/std\:\:is_same/g"

[2020-01-31 01:24] ndellingwood commented on #586
PR #592

[2020-01-31 18:42] srajama1 commented on #589
@e10harvey  : Yes for no. 1. I don't understand the question for permute_vector.

2. I don't see how 2D view can print CRS matrix. This is sparse. Nevertheless, we have CRS printing in many places, it would be good to have it an Util.

[2020-01-31 18:45] ndellingwood commented on #589
Is part of this issue to also provide the blas and lapack capabilities necessary to replace the cblas and lapacke calls in the supernodal sptrsv, or will that be discussed and addressed by a different issue?

[2020-01-31 20:27] ndellingwood commented on #587
Addressed by PRs #588 and #591

[2020-01-31 20:59] ndellingwood commented on #586
PR #592 merged to develop with fix.

[2020-01-31 21:33] srajama1 commented on #589
@ndellingwood  This issue basically does that.

[2020-02-03 14:52] e10harvey commented on #589
This is mainly just a note to myself (which I should have made clear) -- I'm looking into which internal KokkosKernels routines we can use instead of these `{for,back}wardP_supernode` routines.

Got it -- I'll have to look into this one further as well.

[2020-02-03 21:03] e10harvey commented on #589
@srajama1, @ndellingwood: I am confused. This issue is to address items no. 1 and no. 2 above which was gleaned from the PR feedback left by Mark.

What specifically in the supernodal sptrsv code needs to be replaced?

[2020-02-03 23:27] e10harvey commented on #589
@iyamazaki Can you elaborate?

[2020-02-03 23:28] e10harvey commented on #589
@iyamazaki: Do you have your Matrix Market formatted test files for the perf_test `KokkosKernels_sparse_sptrsv.exe`? If not, can you share how to generate those test files?

[2020-02-04 15:07] iyamazaki commented on #589
Thank you so much for looking at this, @e10harvey !!  In the current code, I use xTRMM and xTRTRI to setup our solver. Since the setup is currently on the host (sequential), I am calling cblas_xtrmm and LAPACKE_xtrtri.

[2020-02-04 15:10] iyamazaki commented on #589
Hi, @e10harvey, again. I need to check with @ndellingwood . I have enabled my code only through make-script (e.g., compileKokkosKernelsSimple.sh), and have not tried using cmake.

[2020-02-04 17:39] #574 closed

[2020-02-04 21:25] e10harvey commented on #589
@iyamazaki: No problem, thanks for the swift responses! Would you please point me to where in the code you're using "xTRMM and xTRTRI to setup our solver"? Also, where are "cblas_xtrmm and LAPACKE_xtrtri" called?

Hi, @iyamazaki. Does `compileKokkosKernelsSimple.sh` generate the Matrix Market formatted test files for the perf_test `KokkosKernels_sparse_sptrsv.exe`?

[2020-02-05 04:03] iyamazaki commented on #589
@e10harvey: The cblas and lapacke functions are called in src/sparse/KokkosSparse_sptrsv_supernode.hpp and src/sparse/KokkosSparse_sptrsv_superlu.hpp.

That is for the general sparse-triangular solve. The perf_tests for the supernodal triangular solve are KokkosSparse_sptrsv_superlu.exe and KokkosSparse_sptrsv_cholmod.exe.

[2020-02-06 03:25] bartlettroscoe opened #595 "Question: CMake warning for standard TriBITS/Trilinos TPL integration?"
It would seems the since the Kokkos and KokkosKernels 2.99 upgrade, the KokkosKernels configure now generates CMake Warnings that show up on CDash:

[code]

like you can see here:

* https://testing-dev.sandia.gov/cdash/viewConfigure.php?buildid=5215671

Since these vars are set by TriBITS automatically, I don't see how this can be resolved.

Can KokkosKernels please changes these from a CMake War

[2020-02-06 03:25] bartlettroscoe commented on #595
@jjwilke

[2020-02-06 04:15] jjwilke commented on #595
Are there real consequences for testing if we have the warnings? We want to pretty forcefully encourage build scripts to be updated.

[2020-02-06 19:31] brian-kelley opened #598 "complex_double misalignment still breaking SPGEMM"
Memory alignment problems are still causing test failures for SGPEMM on CUDA:
[code]

The above was from RIDE with GCC 7.2.0, CUDA 10.1, configured with:
[code]
But this affects release builds and CUDA 9.2 as well.

[2020-02-06 19:35] brian-kelley commented on #598
Note: replacing ``alignof(scalar_type)`` with ``sizeof(scalar_type)`` doesn't fix this.

[2020-02-07 16:19] srajama1 commented on #583
@brian-kelley As you are deep into SpGEMM, this might be a good test.

[2020-02-07 18:14] brian-kelley commented on #583
@srajama1 I had a branch from December where I was cleaning up the sparse perf tests, and using sensible scalar, ordinal, size_t, layout types based on what is ETI'd. So I'll finish that up and make sure scalar=float works everywhere.

@Lilian92 If we get float to work, would you still want to try scalar=int? It won't be supported by the build system, but by including the right headers and pluggin

[2020-02-07 18:21] e10harvey commented on #589
@iyamazaki: Thanks! I have:
[code]

How do I run `KokkosKernels_sparse_sptrsv.exe`? Are the sets of input files for the `-lf` and `-uf` arguments that you used when testing?

[2020-02-07 19:08] iyamazaki commented on #589
Hi, @e10harvey That perf_test is for a general sparse-triangular solve by @ndellingwood . If you want to run the supernodal version (that uses CBLAS and LAPACKE), then you want to run KokkosSparse_sptrsv_superlu.exe or KokkosSparse_sptrsv_cholmod.exe

[2020-02-07 20:21] mhoemmen commented on #598
Does the test code create an array of `std::complex<double>` and `reinterpret_cast` it to `Kokkos::complex<double>`?

[2020-02-07 20:25] brian-kelley commented on #598
@mhoemmen @ndellingwood and I think it's still in the shared memory logic (so we think no). This takes a raw pointer and breaks it into pieces by casting this pointer to different types and then incrementing it, so if that's wrong anywhere it would explain the problem.

[2020-02-07 21:31] brian-kelley commented on #598
Found it:
[code]

[2020-02-07 22:17] ndellingwood commented on #598
@brian-kelley nice! The same issue is probably happening with the memory pool as was with the shmem where the heuristic that determines chunk sizes and number of chunks does not check for alignment

[2020-02-07 22:18] ndellingwood commented on #598
https://github.com/kokkos/kokkos-kernels/blob/6d0becda14a6248e88026e8eedaa4a18e7396ee4/src/sparse/impl/KokkosSparse_spgemm_impl_kkmem.hpp#L1488-L1546

[2020-02-08 00:48] brian-kelley commented on #598
@ndellingwood Good idea, I'll make sure the level-2 hashmap values are aligned too.

The way I was going about fixing this was to just compute an aligned ``scalar_t*`` on-device, rather than adjusting the different table size heuristics ahead of time so that the alignment adds up to exactly the right value. I think the first way is less fragile. There just needs to be a few spare bytes of shared s

[2020-02-08 15:53] srajama1 commented on #589
@e10harvey The SuperLU TPL changes for CMake are not in develop.

@jjwilke has a PR but that has conflict. See
https://github.com/kokkos/kokkos-kernels/pull/546

Use make system for now.

[2020-02-11 00:35] brian-kelley commented on #598
Fixed in KK, and I just posted a Trilinos PR.

[2020-02-12 17:21] e10harvey commented on #567
@srajama1: I see your comment [here](https://github.com/trilinos/Trilinos/pull/6813?email_source=notifications&email_token=ANUVLYQAOVYOPRW5RJRGMVLRCQIF5A5CNFSM4KTFPAL2YY3PNVWWK3TUL52HS4DFWFIHK3DMKJSXC5LFON2FEZLWNFSXPKTDN5WW2ZLOORPWSZGOCVH2VCA#pullrequestreview-357542536). Do you want me to look into this issue as well?

[2020-02-12 17:42] srajama1 commented on #567
@e10harvey : Yes, this is what I was talking about need for several kernels. Start with the three kernels @iyamazaki wanted as they are needed for an application in short time. This one already went in, we can clean it up as the next step.

[2020-02-13 00:46] ndellingwood commented on #477
cm_test_all_sandia and cm_generate_makefile.bash have been added, closing this issue.

[2020-02-13 00:46] #477 closed

[2020-02-18 20:03] ndellingwood opened #607 "trsv - internal compiler error with intel/19"
Reported by Mike Glass, observed on the mutrino testbed

**Error message**
[code]

Reproducer instructions:
Clone kokkos, kokkos-kernels

[code]

[2020-02-19 00:55] ndellingwood commented on #607
Workaround PR issued #608 and Trilinos patch submitted in PR trilinos/Trilinos#6858

[2020-02-19 03:07] ndellingwood commented on #607
PR #608 merged.

[2020-02-19 20:02] ndellingwood commented on #607
Added intel/19.0.5 nightly test https://jenkins-son.sandia.gov/view/KokkosKernels/job/KokkosKernels_KokkosDev2_Intel19_0_5/

[2020-02-19 23:46] brian-kelley commented on #583
@Lilian92 I'm sorry this took so long, it turns out we had several issues with building the performance tests with ``scalar_t = float`` (as you saw). But I have a branch that can build the SPGEMM driver with ``scalar_t = float``, and there's also a very easy way (1-line change) to get ``scalar_t=int``.

For now, these instructions will involve checking out my branch, but within a few days this sho

[2020-02-20 00:37] ndellingwood commented on #607
For reference I should mention the issue here - internal compiler errors were occurring in the trsv routine, turned out the compiler was dying on the `/=` operators. Replacing calls like `a /= b;` with `a = a / b;` served as a functional workaround allowing compilation of code to complete.

[2020-02-20 18:38] ChristianLagares opened #609 "Request implementation of FFT kernels"
I am currently working on large-scale correlations based on the convolution theorem which operates on the Fourier Space. I've considered implementing a Templated FFT as part of my codebase, but, given the availability of FFTs on MKL, cuFFT, and other supported backends, I've been wondering the possibility of making these libraries available through a common interface similar to the other BLAS func

[2020-02-20 20:03] srajama1 commented on #609
@ChristianLagares This request had come up few times in the past. We would like to do provide interfaces to vendor libraries and other open source codes from the ECP project.

 Is this just a request for such interface or are you saying you want to contribute this ?

[2020-02-20 21:05] ChristianLagares commented on #609
@srajama1 I took some time to look at some other sections of the BLAS implementations to have an estimate on the complexity of contributing an FFT that lives up to the current standards. Given my current time schedule during this semester, I don't think I would be capable of dedicating as much time as I wish I could to it. My current FFT solves a very niche use case.

I'm afraid it is only a reque

[2020-02-21 01:21] brian-kelley opened #611 ""Bowman" sometimes does not appear in `hostname`, breaking test script"
This isn't really a bug and just a weird thing about bowman, but sometimes on a compute node, "hostname" returns something like "node09". Since cm_test_all_sandia relies on "bowman" appearing in the hostname, it will just print "Error: unrecognized machine" and exit in this case.

It would be great if there were another way to detect the machine.

[2020-02-21 22:29] lucbv opened #614 "TPL support for SpMV"
I am adding TPL support in SpMV, the main goal is to enable the use of cuSPARSE spmv functionalities but other TPLs such as MKL could be explored too?

So my plan is to proceed as follows:

- [x] Provide a first cut implementation that allows for SpMV using CUDA 10 and a subset of all possible type combinations. This will not be as general as we want but it will allow us to work out the kinks and

[2020-02-21 22:48] brian-kelley commented on #583
@Lilian92 Apologies, I just realized that even if you compile with ``--scalars=float``, double is still instantiated so it is used as the default. We'll figure out a permanent solution that lets users select the types at runtime somehow, but until then just follow the instructions for int but use "typedef float scalar_t;" instead.

[2020-02-22 02:01] mhoemmen commented on #614
@lucbv Note that cuSPARSE uses `int` as the row offset type (type of the entries of `ptr`), while Tpetra uses whatever Kokkos says is the size type.  (The difference wasn't my idea -- Mike Heroux insisted on 64-bit row offsets.)  This means you'll either need to make a copy of `ptr` (use `Tpetra::Details::copyOffsets`, which can do bounds checking), or change Tpetra's storage format.

[2020-02-22 02:08] mhoemmen commented on #614
@lucbv If you want to make a copy of `ptr`, you could either store that in one of those kokkos-kernels "handle" things, or store it in Tpetra.  Either way, it could make sense to use (and maybe extend) the existing `Tpetra::{LocalOperator, LocalCrsMatrixOperator}` class hierarchy.  The point of `LocalCrsMatrixOperator` was to reduce build times and sizes by hiding the actual sparse mat-vec call fr

[2020-02-22 02:10] mhoemmen commented on #614
@lucbv For an example of how to hide TPL header files from downstream code, see `CuSolverHandle` and `CuSolver` in `packages/tpetra/tsqr/src`.

[2020-02-22 23:52] lucbv commented on #614
@mhoemmen things might be a bit more complicated depending on the CUDA version being used. I think that under CUDA 10 you can specify the type of rowPtr but it has to be the same as the type of colInd... Here is the API documentation for [CUSPARSE 10 CrsMAtrix](https://docs.nvidia.com/cuda/cusparse/index.html#cusparse-generic-spmat-ref) in any case I am not planning on addressing everything from K

[2020-02-23 06:41] mhoemmen commented on #614
@lucbv Are you planning to plug in cuSPARSE sparse mat-vec to compare with the existing kokkos-kernels sparse mat-vec, or do you plan to pull in other functions that don't have good support in kokkos-kernels yet?

[2020-02-23 21:39] lucbv commented on #614
I want to do the latter, although by I only intend to do SpMV so far but if there is a need for other functionalities we can look at it in a second time.
I am sure that we have a Kokkos-kernels list of todos : )

[2020-02-24 18:02] Lilian92 commented on #583
Cool, thank you so much!

[2020-02-24 22:37] #364 closed

[2020-02-24 22:39] lucbv opened #617 "SpMV struct: fix types and add tuning benchmark"
This issue refers to work done in PR #458
Performance has been improved and inconsistencies for output type have been resolved.

[2020-02-26 19:05] kuberry opened #621 "Error in directions at https://github.com/kokkos/kokkos-kernels/wiki/Using"
On the "Using" page, there is a code block:

[code]

This results in errors like:
[code]

Changing the last line to:
[code]
results in:
[code]

Changing the last line to:
[code]
results in an error (but CMake still configures):
[code]
Using the last line, I can build and link, but I'm unsure whether it works once installed.

[2020-02-26 20:02] srajama1 commented on #621
@jjwilke

[2020-02-26 20:04] jjwilke commented on #621
You are missing the `find_package(KokkosKernels REQUIRED)` that find and imports the target.

[2020-02-27 23:44] kuberry commented on #621
Hi @jjwilke ,

find_package(KokkosKernels REQUIRED) fails to find the package (it isn't installed, just added using add_subdirectory(), so there is no KokkosKernelsConfig.cmake in the source or build directories)

Changing the last line to:
[code]
works, but it still needs its target "kokkoskernels" exported to the final target (in my case, compadre-target was the target complaining), so I resolve

[2020-02-29 00:44] brian-kelley opened #624 "Distance-2 coloring does not respect distance-1 neighbors having same color"
Distance-2 coloring only checks for conflicts between pairs of vertices, separated by a path of length exactly 2. If there is no path of length 2 but a path of length 1 (u and v are immediate neighbors, and neither u nor v have themselves as neighbors) then the conflict will not be detected, and so the coloring will be incorrect.

If every row has the diagonal entry (every vertex has itself as a n

[2020-02-29 00:46] brian-kelley commented on #624
Our distance-2 algorithms are actually doing bipartite one-sided coloring, not distance-2 coloring!

[2020-02-29 00:48] srajama1 commented on #624
By accident :)

[2020-02-29 00:48] brian-kelley commented on #624
Yes of course :)

[2020-02-29 00:48] brian-kelley opened #625 "Distance-2 improvements"
Issue for tracking the work done in #623.

- Fix distance-2 algorithms not checking for columns being in-bounds  (meaning it was not usable for MueLu aggregation on distributed problems)
- Remove the serial distance-2 algorithm from the distance-1 handle
- Implement a new net-based serial algorithm (asymptotically better than the neighbors-of-neighbors nested loop used in vertex-based). In practic

[2020-02-29 22:16] kuberry commented on #621
Just a few more details, on line 10 of kokkos-kernels/cmake/kokkoskernels_tribits.cmake, there is a check ELSEIF(NOT KOKKOSKERNELS_HAS_PARENT) (which is false when using add_subdirectory(kokkos-kernels), so KokkosKernelsConfig.cmake and all of the other .cmake files are never created.

find_package(KokkosKernels) won't have any chance of succeeding without these files being created.

[2020-03-02 13:40] kuberry commented on #621
PR #626 addresses the changes that are needed for CMake, along with a description of each change, in order to produce the needed files / variables to build, install, and then build/link against the final installed project and have Kokkos Kernels work correctly.

[2020-03-02 19:58] brian-kelley commented on #624
@srajama1 After fixing the d2 coloring verification (to check d1 conflicts), all the d2 unit tests failed as expected. All the algorithms except SPGEMM+d1 were easy to fix. The problem with SPGEMM is that there's no way to tell SPGEMM to pretend there's a diagonal entry in every row.

Is it OK if I just get rid of SPGEMM-based d2? I don't think it'll be missed, since it's slow and uses lots of mem

[2020-03-02 21:54] srajama1 commented on #624
@brian-kelley Yes, please remove it. It was supposed to be a temporary one until we had actual d2 working. We just didn't get to removing it.

[2020-03-02 21:55] srajama1 commented on #583
@Lilian92 Are you able to successfully run this case ?

[2020-03-02 22:35] Lilian92 commented on #583
Yes, thank you for asking!

On Mon, Mar 2, 2020, 4:55 PM Siva Rajamanickam <notifications@github.com>
wrote:

[2020-03-03 16:51] lucbv opened #629 "Build failures on kokkos-dev with clang/7.0.1 cuda/9.2 and blas/cublas/cusparse tpls"
@ndellingwood
I felt adventurous and tried to do a tpl build on kokkos-dev with clang, here is what my configure script looks like:
[code]
It actually mostly works but there are a few issues with `sptrsv` and `spgemm`, I will start working on this a bit... it would be nice for that build to work so we can increase the coverage we have with "cm_test_all_sandia --spot-check-tpls"
[make_clang_cuda_tp

[2020-03-03 17:20] ndellingwood commented on #629
@lucbv errors look pretty straightforward (remove unused vars in sptrsv, likely reorder of initialization or listing of member variables in the spgemm handle?), let me know if you want me to put in the sptrsv fix. Once this is cleaned up, we can add this to cm_test_all_sandia for kokkos-dev-2 and I'll set up a nightly build there.

[2020-03-03 18:02] lucbv commented on #629
Yeah, I'm looking into a quick clean-up of the easy things and if I stumble upon something hard I might ask you about it, but that does not seem to likely, hopefully I can make a PR for that quickly.

[2020-03-03 21:20] lucbv commented on #629
Since PR #630 is now merged this issue should be resolved. There is another fix in the cusparse spmv branch but that gets merged separately.

[2020-03-03 22:46] ndellingwood commented on #629
clang/7+cuda was already in the cm_test_all_sandia script, just added a nightly test.

[2020-03-03 23:03] e10harvey opened #632 "alpha changing values in openmp.trsm_complex_double with openblas 0.2.20"
@srajama1, @ndellingwood, others?

I haven't taken a close look at this yet -- this bug might not be in kokkos-kernels. The bug seems to be related to the interaction between openmp/KokkosHostSpace, gtest (TEST_F), and kokkos complex types.

## Environment
Using kokkos at 2.9.00.
[code]
## Build command
[code]
The valid values of alpha from the trsm unit tests are 1.0 and 4.5, however, uncommentin

[2020-03-03 23:06] ndellingwood commented on #632
@e10harvey would you be willing to swap the openblas module to openblas/0.3.1/gcc/7.2.0 and retest with a clean build to verify it happens in both cases? Also could you post how you configured and built kokkos-kernels (sample reproducer instructions)?

[2020-03-03 23:20] e10harvey commented on #632
I just started this.

I've updated the original post above with this info.

[2020-03-03 23:59] jjwilke opened #633 "supernodal does not build with UVM enabled"
If Kokkos is built with UVM enabled, the supernodal build fails with several static asserts about invalid conversions, e.g.

[code]

This does not occur on Cuda builds without UVM or OpenMP builds.

[2020-03-04 00:02] ndellingwood commented on #633
Does replacing
`Kokkos::View<scalar_t*, memory_space> work = thandle.get_workspace ();`
with
`auto work = thandle.get_workspace ();`
fix this?

[2020-03-04 00:03] jjwilke commented on #633
No, I started to get more conversion errors in other places and gave up : )

[2020-03-04 14:21] e10harvey commented on #632
This issue does not occur with openblas/0.3.1/gcc/7.2.0.

[2020-03-04 14:21] #632 closed

[2020-03-04 17:05] ndellingwood commented on #632
Thanks for confirming, based on the bizarre behavior you reported it seems this was a tpl bug.

[2020-03-04 17:13] ndellingwood opened #634 "graph_color_d2_symmetric_double_int_int_TestExecSpace seg faults in cuda/10.1 + Volta nightly test on kokkos-dev-2"
The following test began seg faulting in the nightly cuda/10.1 test on kokkos-dev-2 (Volta70 arch), this did not occur in the UVM build:

[code]

@brian-kelley I'm guessing this is related to the changes from PR #623?

Reproducer:

[code]

[2020-03-04 17:43] ndellingwood commented on #634
Adding link to failing nightly build [output: ](https://jenkins-son.sandia.gov/view/KokkosKernels/job/KokkosKernels_KokkosDev2_CUDA10_1/390/console)

[2020-03-04 18:18] brian-kelley commented on #634
@ndellingwood I was able to replicate a crash. It was actually in resolveConflictsSerial(), which runs on host, but I think cuda tends to generate more conflicts.

[2020-03-04 18:20] brian-kelley commented on #634
This bug happens randomly when a raw malloc'd array happens to contain all zeros. The fix was just to initialize it.

[2020-03-04 21:00] ndellingwood opened #636 "cuda uvm test failures without launch blocking - expected behavior?"
The following tests are failing in cuda builds with UVM enabled and without setting

[code]

**Failing tests**
[code]

[code]

I observed this on white while adding a cuda+UVM build to the spot-check tests.

**Reproducer instructions** for white/ride (rhel7F kepler queue):

kokkos SHA: c699b69827d25d43d3c6f43b7f1990c980c88b46
kokkos-kernels SHA: 41fe4f2a176d952ea1e388e8ee1ac442dfcb1d83

[code]

@b

[2020-03-04 21:48] brian-kelley commented on #636
@ndellingwood No, It's definitely a bug (I never intended CUDA_LAUNCH_BLOCKING to be a requirement). On the bright side, I'm almost positive it's in the block Gauss-Seidel test itself, and not the library, because
- only one place I know of uses mirror views in the library, and that's the color set table "h_color_xadj"
- it gets deep copied to host, and then there's a fence
- the device side of th

[2020-03-04 21:52] brian-kelley commented on #636
Actually, can I just merge the #634 fix now? One test failed on kokkos-dev (blas_cuda) due to misaligned complex in dot. It's obviously not affected by a change in distance-2 coloring.

[2020-03-04 21:56] ndellingwood commented on #636
Which PR is it? I can approve the PR

[2020-03-04 21:56] brian-kelley commented on #636
@ndellingwood #638

[2020-03-05 15:26] lucbv commented on #614
Modifying the first comment to reflect work done and upcoming work to make the code cleaner and developer friendly.

[2020-03-05 16:32] mhoemmen commented on #614
@lucbv Thanks for the conversation earlier this week!  I'd like @vbrunini to know about this work.  My conclusion about our conversation is that even if kokkos-kernels wraps cuSPARSE, Tpetra would still need to manage auxiliary data structures, like a copy of the row offsets array with the right type, or the handle itself.

[2020-03-05 16:36] jjwilke opened #642 "Feature-dependent tests: CMake helper functions and warnings"
Certain tests may require lambdas/uvm/rdc, etc. We should make it easier to declare feature dependencies in tests.  If all features are not available, we should warn that a test is being deactivated and remove the test.

This would look like modifying the add test function:
[code]

[2020-03-05 22:01] brian-kelley opened #645 "team_dot_complex_double fails on clang+cuda due to misalignment"
On kokkos-dev2, with Clang 8 and CUDA 10.0 (a spot check build), team_dot_complex_double fails because of ``cudaErrorMisalignedAddress``. Since this passes in all other CUDA builds (even with ``16 == alignof(Kokkos::complex<double>)``), it seems likely this is just a compiler bug.

I can tell this error is caused by the ``KokkosBlas::Experimental::dot`` device function, since cudaGetLastError() re

[2020-03-06 00:41] ndellingwood commented on #634
If you aren't able to sign in when clicking the link above you'll need to request through WebCARS, I'll send you an email.

[2020-03-06 17:35] lucbv commented on #614
Updating the list of to-do above to include @srajama1 comments on performance monitoring and specifically evaluating the cost of handle creation, which could actually be tested on its own in a performance test?

[2020-03-06 20:44] DavidPoliakoff opened #647 "Some tests don't use Kokkos Kernels :)"
Hey folks,

With a fairly standard build using CMake, I run into problems with the tests

[code]

Leads to errors that the `Selected test is not available.`

If I simply delete the `ifdef`'s surrounding `HAVE_KK_KERNELS` being defined (in the test and the header it includes) things compile fine. I think this is just a build problem, HAVE_KK_KERNELS isn't being set up as a preprocessor macro

[2020-03-06 22:57] brian-kelley opened #648 "Block Gauss-Seidel test fails when cuSPARSE is enabled"
Reported by @lucbv: building with: ``--with-tpls=cusparse``, the block Gauss-Seidel unit test fails because of mismatched matrix/vector size in SPMV:
[code]

This suggests 2 things:
- Our SPMV implementation isn't checking that dimensions match, allowing this test to pass without cuSPARSE
- The block Gauss-Seidel test itself is generating the matrix and/or LHS vector with the wrong dimensions

[2020-03-06 23:05] brian-kelley commented on #648
Hmm, our spmv implementation does check the input dimensions, but it only checks that the matrix dimensions are not _greater_ than the corresponding x/y lengths. So the matrix can have fewer columns than the dimension of X, and fewer rows than the dimension of Y. I assume this was intentional, but if it wasn't, I can fix it.

The issue in block Gauss-Seidel is clear, though:
[code]
The x vector is

[2020-03-06 23:17] brian-kelley commented on #648
Yep, it was an instance of #478, sort of:
[code]
should be:
[code]
and now it passes with cusparse.

[2020-03-06 23:36] brian-kelley commented on #647
@DavidPoliakoff You'll have to use develop branch or wait for a release to use the spmv perf test, unfortunately. This issue was fixed (in develop) with PR #613.

[2020-03-06 23:36] #647 closed

[2020-03-06 23:46] brian-kelley commented on #611
This won't be an issue anymore since bowman is going to be decommissioned :'(

[2020-03-06 23:46] #611 closed

[2020-03-09 14:10] lucbv commented on #648
@brian-kelley thanks for looking into it, we can probably raise this issue tomorrow.
I am a bit worried about the test we perform in SPMV but if that is a design decision we can probably live with it.

[2020-03-09 20:38] brian-kelley commented on #648
Fixed with #649.

[2020-03-09 20:58] brian-kelley opened #650 "cuSPARSE spmv wrapper doesn't actually use 'mode'"
This is kind of halfway between a bug and a feature request, but the cuSPARSE SPMV backend does not actually use the "const char mode[]" parameter. It always does the ``CUSPARSE_OPERATION_NON_TRANSPOSE``. We'll need to fix this fully support large-row SPMV in Tpetra (see https://github.com/trilinos/Trilinos/pull/6982).

[2020-03-09 20:59] brian-kelley commented on #650
See ``src/impl/tpls/KokkosSparse_spmv_tpl_spec_decl.hpp``.

[2020-03-09 21:57] ndellingwood commented on #650
@lucbv will you have time to provide support for this before the next Trilinos release (The goal may be to start testing in a week or two)? If not, I'm guessing we will need to disable the cusparse spmv capability when Trilinos is enabled to avoid packages running into issues when calling spmv with transpose mode?

[2020-03-09 22:04] lucbv commented on #650
@ndellingwood @brian-kelley
I actually implemented that this morning in my branch for PR #643, I can push that now if you want, that PR also cleans the implementation and provides a nice utility function for cusparse support in kokkos-kernels and for external users.

[2020-03-09 22:11] ndellingwood commented on #650
@lucbv not a rush so push when you feel it is ready to be updated into the PR, I just wanted to get a sense what the status might be over the next couple weeks before the next round of integration testing, thanks!

[2020-03-09 22:14] lucbv commented on #650
@ndellingwood
I just pushed my branch and you can see it in the related PR, I will ask a couple of questions regarding this work tomorrow at our meeting and will probably be able to finish the work before the end of the week

[2020-03-10 16:20] jjwilke commented on #106
This has been superseded by the new CMake system. Instructions are both in the repo and on the wiki.

[2020-03-10 16:20] #106 closed

[2020-03-10 16:20] jjwilke commented on #120
Let's call this done, eh?

[2020-03-10 16:20] #120 closed

[2020-03-10 16:22] jjwilke commented on #419
This was fixed in the last promotion.

[2020-03-10 16:22] #419 closed

[2020-03-10 16:22] jjwilke commented on #384
Makefiles are going away

[2020-03-10 16:22] #384 closed

[2020-03-10 16:23] jjwilke commented on #361
Fixed by @ndellingwood with cm_test_all_sandia. Makefiles are going away so no need to fix it as requested originally.

[2020-03-10 16:23] #361 closed

[2020-03-10 17:07] jjwilke opened #652 "Need to add suitesparse spack build"
There is no package for suitesparse currently in Spack. This prevents us from having TPL support for CHOLMOD via Spack installation.

[2020-03-10 17:07] ndellingwood commented on #486
This was all completed for 3.0, closing.

[2020-03-10 17:07] #486 closed

[2020-03-10 17:43] ndellingwood commented on #489
With the Makefile build system going away and testing now using the cm_test_all_sandia script for the CMake build system (where this isn't an issue) I'm going to close this.

[2020-03-10 17:43] #489 closed

[2020-03-10 17:45] ndellingwood commented on #443
@cgcgcg I think this should have been fixed in PR #514 which made it into Trilinos release with 2.9.99 (3.0 minus copyright updates).

[2020-03-10 17:46] #443 closed

[2020-03-10 17:48] #196 closed

[2020-03-10 17:48] #145 closed

[2020-03-10 19:58] ndellingwood commented on #480
@jjwilke I think this can be closed and done as part of 3.0.00?

[2020-03-10 19:58] ndellingwood commented on #433
@jjwilke I think this can be closed?

[2020-03-10 19:59] ndellingwood commented on #429
@jjwilke should this be closed since the first wave of TPL support went in for 3.0.00?

[2020-03-10 19:59] jjwilke commented on #480
I believe so. The solution here was to only use MKL with Intel compiler. Can @kyungjoo-kim confirm: do we need MKL support for non-Intel?

[2020-03-10 19:59] ndellingwood commented on #429
Follow up requests like SuperLU have a separate issue.

[2020-03-10 20:00] jjwilke commented on #429
Yep. Closing.

[2020-03-10 20:00] #429 closed

[2020-03-10 20:20] mhoemmen commented on #480
@jjwilke wrote:

MKL supports use with GCC, and I've often used it that way.  @rrdrake , does Sierra care about that use case?

[2020-03-10 20:24] jjwilke commented on #480
Okay. Let's keep this open. I can have two configuration paths for Intel/non-Intel.  If not Intel, I am going to look for MKL Intel10_64ilp only.

[2020-03-10 20:30] srajama1 commented on #652
You don't need all of SuiteSparse, if just Cholmod is easy, I would just do that.

[2020-03-10 21:02] rrdrake commented on #480
At this time, Sierra only uses MKL with the Intel compiler.

[2020-03-10 21:06] jjwilke commented on #480
Okay, now I'm remembering the issues. Do we need 32-bit or 64-bit integers? I need to know whether to link LP64 or ILP64.

[2020-03-10 21:44] mhoemmen commented on #480
@jjwilke Trilinos uses 32-bit integers (LP64) with BLAS libraries.

[2020-03-10 22:34] #433 closed

[2020-03-10 23:59] jjwilke commented on #480
So this is fun. When using GCC, it is recommended to link `libmkl_gnu_thread.so`, but if you do that multi-threaded tests fails. If you build with GCC and  `libmkl_intel_thread.so` everything works.

[2020-03-11 13:53] e10harvey opened #654 "Add CI for PR spot-checking?"
We can improve developer workflow by automating PR spot-checking. Is there any interest in getting continuous integration set up for kokkos-kernels? @vqd8a, @jjwilke, @seheracer, @srajama1, @lucbv, @ndellingwood, @kyungjoo-kim, @crtrott.

[2020-03-11 14:15] lucbv commented on #654
Yes please!

[2020-03-11 15:25] vqd8a commented on #654
Yes please!!!

[2020-03-11 15:36] ndellingwood commented on #654
Yes!
@e10harvey can this be done in a way to allow for external collaborators to issue PRs that are tested as well?

[2020-03-11 15:52] e10harvey commented on #654
I need to look into this further. This should be possible by using GitHub Actions.

[2020-03-11 16:16] jjwilke commented on #654
You should chat with @dalg24  or @masterleinad about how we do this with Kokkos. For external users, we usually either require an approving review or I think they actually set it up so that someone can just comment "okay to test".

[2020-03-11 16:18] ndellingwood commented on #654
@jjwilke good suggestion, I think they have the CI set up on resources at ORNL that have different restrictions than Sandia, so there may be an extra layer of issues to get this setup on Sandia resources that was bypassed by using ORNL's.

[2020-03-11 16:46] lucbv opened #655 "Updating KokkosSparse.hpp?"
@srajama1 @ndellingwood  @brian-kelley @vqd8a
It seems that we might want to add new algorithms that were developed recently to that header:
- KokkosSparse_spadd.hpp
- KokkosSparse_spiluk.hpp
- KokkosSparse_BlockCrsMatrix.hpp

Or we can just decide that the header should be deprecated if we do not want to maintain it?

[2020-03-12 18:10] ndellingwood opened #657 "TRMM and TRTRI build failures with clang/7+cuda9+Cuda_OpenMP and gcc/5.3+OpenMP"
Merge of PR #622 is causing the following build failures:

**gcc/5.3 OpenMP Build**:
[code]

Reproducer sample:
[code]

----------

**clang/7+cuda/9.2 Cuda_OpenMP Build**
[code]

Reproducer sample:
[code]

[2020-03-12 18:11] ndellingwood commented on #657
@e10harvey it looks like OpenMP is the common culprit to address. If you don't have time to address this soon let me know so we can revert the PR and it can be resubmitted with the fixes necessary for this issue.

[2020-03-12 23:08] ndellingwood commented on #655
@lucbv fair question, looks like the file is used in tpetra:

[code]

[2020-03-17 15:46] lucbv commented on #650
OK, I think that #643 has taken care of this, I am marking this as fixed in develop.

[2020-03-17 15:49] lucbv commented on #614
OK, the transpose mode and `KOKKOS_CUSPARSE_SAFE_CALL` have been implemented and merged with PR #643 next step will probably involve some testing and documentation updating.
@srajama1 @ndellingwood do I need to submit the documentation I will write for R&A or do we consider it a simple update not worthy of official check?

[2020-03-17 16:08] brian-kelley opened #662 "Break up test_common/KokkosKernels_TestParameters.hpp"
This large struct ``KokkosKernels::Experiment::Pamareters`` is being used for all the performance tests (sparse, graph, blas).

- For each individual perftest, make a parameter struct that has only fields actually used by the test. e.g. the distance-1 coloring perftest shouldn't see options that are only for triangle counting.
- Use the actual enum types and constants instead of just 'int' for the

[2020-03-17 17:57] ndellingwood commented on #614
@lucbv If the documentation results in a new wiki page or significant changes it should go through R&A (make sure to update the private wiki and I can put in the request), if it is minor updates to an existing page than that should be able to go directly to the public wiki.

[2020-03-20 01:19] brian-kelley opened #664 "Test transpose utilities"
Recommended by @lucbv and @brian-kelley after finding out ``KokkosKernels::Impl::kk_transpose_graph()`` didn't work. It hadn't been used at all until the distance-2 coloring refactor, but also wasn't tested.

The bug was fixed in #661, and unit tests for transpose were added in #663.

[2020-03-20 18:23] srajama1 commented on #655
Can we keep the matrix header for the data structure, add another one for preconditioners, and one for matrix ops (spadd, spgemm etc.) ?

[2020-03-24 18:14] brian-kelley opened #665 "Why CrsMatrix::staticcrsgraph_type uses execution_space and not device_type?"
@ndellingwood In KokkosSparse_CrsMatrix.hpp, the graph type is defined using execution_space, not device_type. Is this intentional? I think it will need to be changed for Tpetra to remove UVM from CrsMatrix/CrsGraph, because when UVM is enabled as the default memory space for Kokkos::Cuda, it's not possible to instantiate KokkosSparse::CrsMatrix for device = ``Device<Cuda, CudaSpace>``.

[code]

[2020-03-24 18:44] ndellingwood commented on #665
@brian-kelley I don't think so, I'm not sure who wrote the original code but I just checked the Kokkos StaticCrsGraph and the third template parameter is intended to be a DeviceType, not specifically and execution space.

[2020-03-24 19:42] brian-kelley commented on #665
@ndellingwood OK, I'll change this to a bug and make a PR.

[2020-03-25 02:01] brian-kelley commented on #665
Fixed in #666 (ooh, the PR of the beast)

[2020-03-25 16:29] jjwilke opened #667 "Spack build failure on kokkos-dev-2"
[code]

[code]

[2020-03-25 17:03] ndellingwood commented on #621
@kuberry I think all the PRs related the issue have been merged into develop, I'm going to mark this "InDevelop", if any more outstanding issues need addressing please comment.

[2020-03-26 14:25] lucbv opened #669 "Kokkos Controls: kind of a handle but easier on the user?"
The idea is to create a new class that allows the user to control how the kernels are executing.
This sound quite close to what the handle is doing but I want this thing to be easier on the user.
Also the handles are a bit cluttered currently, some of them include complete kernels such as graph coloring on host, this makes it hard for maintenance and users to understand what a handle does and what

[2020-03-26 14:34] lucbv opened #670 "cusparse SpMV merge algorithm"
@srajama1 @brian-kelley
This is a request from @vbrunini, the goal is to allow users to chose the algorithm that cusparse uses for its SpMV kernels at runtime. This will improve performance of SpMV when a matrix has a lot of imbalance in terms of nnz per row (very long rows are not well handled by kk native algorithm).
This will require #669 to make some progress and probably some extra clean-up i

[2020-04-01 17:08] lucbv opened #672 "Two-stage & Classical Gauss-Seidel"
Creating this issue to track the status of PR #671

[2020-04-02 16:31] ndellingwood opened #673 "2-stage GS update breaking cuda/10+rdc build"
Merge of PR #671 led to the cuda/10+rdc nightly build (Pascal arch) failing on White.

From a glance at the output there are various undefined references, possibly a sign of ETI-related issues when using sptrsv within the gs routines. Sptrsv tests were compiling and running without error prior to the PR, so I'm not sure what is causing the issue with it's usage in GS when rdc is enabled.

Sample e

[2020-04-02 16:44] brian-kelley commented on #673
RIDE and White seem to be down now, but I'm trying to replicate on my machine (still CUDA 10 and pascal).

[2020-04-02 16:46] ndellingwood commented on #673
Thanks @brian-kelley !

[2020-04-02 16:47] iyamazaki commented on #673
Thank you @ndellingwood I'll take a look!!

[2020-04-02 17:36] brian-kelley opened #674 "cm_test_all_sandia reproducer instructions are missing --with-cuda-options"
The call_generate_makefile.sh reproducer script is missing the --with-cuda-options flags:
(line 1195, cm_test_all_sandia):
[code]
I noticed this because the reproducer instructions for #673 were missing the rdc option.
I think just adding ``--with-cuda-options=${KOKKOS_CUDA_OPTIONS}`` would fix this.

[2020-04-02 19:32] brian-kelley commented on #673
@ndellingwood I can confirm that #675 fixed the build.

[2020-04-06 16:43] brian-kelley opened #677 "SPGEMM color algorithms not implemented, _spgemm_impl_color.hpp not used"
The file ``KokkosSparse_spgemm_impl_color.hpp`` is included in ``KokkosSparse_spgemm_impl.hpp``, but nothing defined in it is used anywhere. The SPGEMM handle actually defines algorithm enum values SPGEMM_KK_COLOR, SPGEMM_KK_MULTICOLOR and SPGEMM_KK_MULTICOLOR2, but those enum constants don't appear anywhere else (I don't know what would happen if you tried to use them, probably just a crash or an

[2020-04-07 00:59] srajama1 commented on #677
I think this was added to try out work by McCourt et al. which uses d-2 coloring on structure C for SpGEMM. I don't remember the exact details if we actually tried it and not chose to move to production or if we never tried it. It is quite possible it is the later as we didn't have a good d-2 coloring on GPUs at that point anyway. I think we can remove the dummy arguments now. We can add it back,

[2020-04-07 01:51] brian-kelley commented on #677
@srajama1 OK, that sounds interesting. So I'll remove or comment out those enum values then, remove the include of the file in spgemm_impl.hpp (just for the sake of compile time), but leave the spgemm_impl_color.hpp where it is.

[2020-04-07 05:59] seheracer opened #678 "Zero diagonals in diagonally dominant matrices generated"
**Link:**
Lines 179-183, **kk_generate_diagonally_dominant_sparse_matrix** function,
https://github.com/kokkos/kokkos-kernels/blob/1be37e8aee0ddfee5ad5076f3a049c4c473f5665/src/common/KokkosKernels_IOUtils.hpp

**Related Code:**
[code]

**Problem:**
According to the last line of the above-given code, **kk_generate_diagonally_dominant_sparse_matrix** may create matrices with some diagonal entries be

[2020-04-07 16:23] brian-kelley commented on #677
"Sparse Matrix-Matrix Products Executed Through Coloring": https://www.researchgate.net/publication/276307474_Sparse_Matrix-Matrix_Products_Executed_Through_Coloring

[2020-04-07 17:26] ndellingwood commented on #678
@seheracer For non-strictly diagonally dominant matrices a row of 0's would allow for a 0 at the diagonal, I don't see any comments in the files you reference to determine if this was intentionally allowed to occur (I doubt it, I'm guessing there would be added options to intentionally generate such a matrix since this would test corner cases in algorithms).

[2020-04-07 20:48] ndellingwood commented on #678
Based on meeting discussion sounds like the path forward is to modify the code to ensure diagonal entries are present, rather than adding structural zeros as place holders for rows-of-zeros.

[2020-04-07 21:23] brian-kelley commented on #678
@ndellingwood I agree with this, GS tests use this and expect the diagonal values to be nonzero.

[2020-04-07 21:37] seheracer commented on #678
Sounds good. I will push the PR today.

[2020-04-08 05:22] ndellingwood commented on #633
@iyamazaki was this fixed with your updates in PR #675 or #676? I think you had addressed this but I lost track of which PR.

[2020-04-08 05:29] iyamazaki commented on #633
Hi, @nellingwood. No, it has not. But, I am working with @e10harvey to integrate the KK interface for TRMM and TRTRI, and that PR should fix this.

[2020-04-08 16:16] ndellingwood commented on #633
Thanks @iyamazaki ! Wasn't trying to rush you, I mistakenly thought this was part of a different PR.

[2020-04-09 15:01] brian-kelley opened #682 "Improve/check robustness of the IOUtils.hpp random matrix generators"
PRs #661 and #678 helped a lot, but we should still go though all the functions and make sure they handle all reasonable inputs correctly. For example, the fix I did to kk_sparseMatrix_generate didn't make it into kk_generate_diagonally_dominant_sparse_matrix, so it's possible other functions still have issues.

Example (noticed by @ndellingwood): In a later PR probably should add a check that nco

[2020-04-09 22:06] lucbv opened #683 "Linking error on Summit"
@srajama1 @jjwilke

Kokkos-kernels currently does not build correctly on Summit.
Tried with both master and develop, same error appears which means that the new ETI is not fixing it.

See below for the actual error:
[code]

[2020-04-10 21:06] brian-kelley opened #685 "SpAdd doesn't merge entries correctly"
Neither the sorted nor unsorted versions of SpAdd will merge entries if the input is unmerged (has duplicate entries in a row). It produces the correct sum, but it should be able to merge any number of duplicate entries for no performance penalty.

[2020-04-14 22:33] #492 closed

[2020-04-14 22:33] #493 closed

[2020-04-14 22:33] #545 closed

[2020-04-14 22:33] #576 closed

[2020-04-14 22:33] #583 closed

[2020-04-14 22:33] #586 closed

[2020-04-14 22:33] #587 closed

[2020-04-14 22:33] #595 closed

[2020-04-14 22:33] #598 closed

[2020-04-14 22:33] #607 closed

[2020-04-14 22:33] #617 closed

[2020-04-14 22:33] #621 closed

[2020-04-14 22:33] #625 closed

[2020-04-14 22:33] #629 closed

[2020-04-14 22:33] #634 closed

[2020-04-14 22:33] #636 closed

[2020-04-14 22:33] #648 closed

[2020-04-14 22:33] #650 closed

[2020-04-14 22:33] #657 closed

[2020-04-14 22:33] #664 closed

[2020-04-14 22:33] #665 closed

[2020-04-14 22:33] #672 closed

[2020-04-14 22:33] #673 closed

[2020-04-14 22:33] #677 closed

[2020-04-14 22:33] #678 closed

[2020-04-14 22:34] #395 closed

[2020-04-14 22:34] #460 closed

[2020-04-14 22:34] #480 closed

[2020-04-15 03:15] srajama1 commented on #624
@crtrott This is should be closed, no ?

[2020-04-15 03:18] srajama1 commented on #418
This is being done in Kokkos proper. Closing it.

[2020-04-15 03:18] #418 closed

[2020-04-15 03:20] srajama1 commented on #267
I think this is done. @ndellingwood will you agree ?

[2020-04-16 12:37] ndellingwood opened #691 "KokkosBatched QR PR breaking nightly tests"
Merge of PR #686 is breaking various nightly kokkos-kernels PR testing.

@kyungjoo-kim if this will take awhile to fix we should revert the commit

Sample error messages:
kokkos-dev-2 tpl spot-check intel-18.0.5-OpenMP-release build failure
[code]

Reproducer:
kokkos-dev-2
[code]

white cuda-9.2.88-Cuda_Serial-debug
  (cuda-9.2.88-OpenMP_Cuda-release also failing)
[code]

Reproducer
[code]

blake

[2020-04-16 15:52] kyungjoo-kim commented on #691
@ndellingwood I will take a loook at this today.

[2020-04-16 16:29] kyungjoo-kim commented on #691
@ndellingwood

Thanks for providing the reproducers. The three tests shows different failures.
1) With intel MKL, there is a code path that I tested in the eigen solver. It is work-in-progress and I have some mistakes there. Now kokkoskernels tests TPLs, an error was caught. This is fixed.
2) On White, it indeeds fails a test and this failure is related with my PR. I am not sure why I did get this

[2020-04-16 16:42] ndellingwood commented on #691
Thanks for updates @kyungjoo-kim !

The only semi-recent update to Kokkos_Complex involves alignment changes that went in with 3.0.00 (2.9.99): https://github.com/kokkos/kokkos/pull/2259

If it helps on Blake, you can try disabling complex alignment with the cmake option
`-DKOKKOS_ENABLE_COMPLEX_ALIGN=OFF`

In KokkosKernels, this PR matching a Trilinos PR was merged as part of 3.1,
https://github.

[2020-04-16 16:52] #624 closed

[2020-04-16 16:54] kyungjoo-kim commented on #691
How can I put the cmake option in your reproducer ?

[2020-04-16 17:12] ndellingwood commented on #691
Oh, good point it won't work directly with the reproducer instructions, but if you run the cm_generate_makefile script as in the reproducer it will output the CMake lines it uses to configure Kokkos before installing, and then configure lines for kokkos-kernels (requiring the kokkos install first). Copy out the Kokkos CMake configure line and append the cmake option then rerun cmake. That should l

[2020-04-16 17:18] kyungjoo-kim commented on #691
I think that this is because of the alignment. When I print out the complex value,
[code]
So, it looks like that the alignment does not match when I use a stack memory. I don't think that this would be problematic if we use aligned mmory allocations.

[2020-04-16 17:41] kyungjoo-kim commented on #691
@ndellingwood I think that I can fix this today. I do not know why some errors pop up later after the test is passed. I am very sure that my qr also passes the test yesterday and now it does not pass.

[2020-04-16 17:41] ndellingwood commented on #691
Brian added a clever utility that may help:
https://github.com/kokkos/kokkos-kernels/blob/0255a565d604589f0aa81bf06eaadb3823722598/src/common/KokkosKernels_Utils.hpp#L1701-L1709

[2020-04-16 17:41] ndellingwood commented on #691
I'm not sure if that utility addresses the type of alignment issue you are seeing though

[2020-04-16 17:44] kyungjoo-kim commented on #691
I take it back. My print statement was wrong....

[2020-04-16 18:21] brian-kelley opened #694 "SpAdd requires output values to be zero-initialized, but this shouldn't be needed"
Currently, the values of the sum are computed by adding A and B values into the C values:
[code]
but it is possible to change the loop slightly to compute each C value and then write it out:
[code]
Then the user wouldn't have to initialize the C values view.

[2020-04-16 18:49] kyungjoo-kim commented on #691
What I figured out is the error happens when I use aggressive vectorization e.g., ivdep with complex values. This seems to replace some instructions with aligned vector instructions where the stack variable is not aligned. This is not related to kokkos complex alignment as the alignment issue pops out when I use odd number of vector array size e.g., 3. This is a right behavior but I do not know wh

[2020-04-16 20:10] kyungjoo-kim commented on #691
@ndellingwood Done.

[2020-04-18 23:08] ndellingwood commented on #691
PR #696 addressed the failing nightly tests reported in this issue, though @brian-kelley detected failures with the `batched_scalar_team_vector_qr_double` test not captured in nightlies, as mentioned in https://github.com/kokkos/kokkos-kernels/pull/696#issuecomment-615537746
A separate issue should be opened to address that and we can determine the gap in nightlies that let it slip through.

[2020-04-19 19:15] brian-kelley commented on #180
I'm reopening this because while doing the full cm_test_all_sandia on kokkos-dev2, 4.8.4 gives this:
[code]
etc.

[2020-04-20 20:41] brian-kelley commented on #180
The new fix for this is in #698, but other things in the PR aren't ready for merging yet.

[2020-04-22 12:37] sethrj commented on #395
Just to finalize this: I am now able to clone the latest Trilinos master on Windows. Yay!

[2020-04-27 16:02] ndellingwood opened #701 "Eigendecomposition error with intel/17.0.1 and MKL"
Compilation errors are occurring in `KokkosBatched_Eigendecomposition_Serial_Internal.hpp` with intel/17.0.1 and MKL enabled. This was detected in the nightly tests on kokkos-dev-2 after including intel/17.0.1 to the list of compilers to test.

Sample error:
[code]

Reproducer instructions:
[code]

@kyungjoo-kim can you take a look at this? I'm guessing that intel/17 has the older mkl interface wh

[2020-04-27 18:23] brian-kelley opened #703 "CrsMatrix raw host array constructor documented wrong"
Comments say it takes coordinate format (values, rows, cols) but it really takes CRS format (values, rowptrs, cols).

That constructor and its doxygen:
[code]

ctor_impl:
[code]

[2020-04-27 18:23] brian-kelley commented on #703
I'll fix this later today

[2020-04-27 21:04] brian-kelley commented on #703
OK, I have a fix but I ended up doing a tiny cleanup thing (removing unused parameter "pad") that changed code, so I have to run spot check. Kokkos has an issue that's blocking spot check, so I will wait for that to be fixed.

[2020-04-28 19:20] brian-kelley opened #704 "Asymm gauss_seidel test with complex fails due to misalignment"
``cuda.sparse_gauss_seidel_asymmetric_rank1_kokkos_complex_double_int_int_TestExecSpace`` fails on kokkos-dev2 on ``clang/8.0/Cuda_OpenMP-release``.

I think 16-byte alignment for ``complex<double>`` was disabled for clang previously, so maybe a Kokkos change caused this. The other possibility is that the version of MT GS that uses shared memory is misaligning scalar arrays, although it should hav

[2020-04-28 19:40] brian-kelley opened #705 "Clang 8.0 + CUDA reproducer modules not found (kokkos-dev2)"
@ndellingwood I was trying to rebuild to look into #704, but I get this when I try to reload modules:

[code]

If I load sems-env and kokkos-env, I can't find clang/8.0 in ``module avail``. Purging didn't help. This could be a machine problem but earlier today, cm_test_all_sandia was able to load it and complete a build.

[2020-04-28 19:42] crtrott commented on #705
These modules are locally installed. You need to add something like module use /home/projects/modulefiles or whatever. Which machine?

[2020-04-28 19:44] brian-kelley commented on #705
@crtrott Ah I found it, cm_test_all_sandia does ``module use /home/projects/x86-64/modulefiles/local``. Thanks!

@ndellingwood Could we add this to the reproducer script?

[2020-04-28 19:53] brian-kelley commented on #705
@ndellingwood Actually I'll just take care of this

[2020-04-28 23:08] ndellingwood commented on #590
@e10harvey @iyamazaki I think this went in as part of PR #680, can I mark this in develop?

[2020-04-28 23:10] ndellingwood commented on #633
Marked as In Develop based on merge of #680, thanks @iyamazaki !

[2020-04-29 16:19] jennloe opened #710 "Updates to Wiki"
The following are problems/suggestions to improve the wiki documentation for Kokkos Kernels:

- [ ] The link for the _update_ kernel is broken on https://github.com/kokkos/kokkos-kernels/wiki/BLAS#blas-1-kernels (Does this page even exist?)
- [ ] _axpby_- Interface documentation is wrong.  Function name is not ‘abs’.  Output and input vectors are mixed up.  Also, description needs clarification.

[2020-04-29 16:24] iyamazaki commented on #590
Hi, @ndellingwood .  We have integrated [PR#622](https://github.com/kokkos/kokkos-kernels/pull/622) into Sptrsv, but not [PR#697](https://github.com/kokkos/kokkos-kernels/pull/697), yet..

[2020-04-29 17:17] lucbv commented on #710
@jennloe what issues are you having with the spmv example?
It is compiled and tested in our PR tester as well as in our nightly regression tests and performance test. In fact I compiled it on Lassen just an hour ago...
Can you post your configuration and the error you see when the compiler fails?

[2020-04-29 17:22] e10harvey commented on #590
Yes.

[2020-04-29 17:22] #590 closed

[2020-04-29 17:40] e10harvey opened #711 "Add performance tests for trmm and trtri"
Related to #589.

[2020-04-29 20:21] jennloe commented on #710
Hi @lucbv ,
I wonder if we are talking about different things?  When I first looked at spmv on the Wiki here: https://github.com/kokkos/kokkos-kernels/wiki/SPARSE-2%3A%3Aspmv
I copy-pasted the example on the page into a .cpp file, and it didn't compile.
Among the issues: Variable "input_mat" isn't defined anywhere.  Replacing it with A doesn't help because A isn't sparse.
[code]
Perhaps this is an

[2020-04-29 21:30] lucbv commented on #710
Good point, we indeed were not thinking about the same thing.
I can probably fix this but writing all the details might make things a bit complicated since the construction of the CrsMatrix is actually not that easy, i.e. you can't just fill it with constant values...
I will go read the page and see if it makes sense to keep this example?

[2020-04-29 21:34] jennloe commented on #710
If you read in a matrix market file for the crs matrix, you can make an example with only a few added lines.
Or maybe there is some other function in a test file that could be called to make a simple Laplacian or something without showing all the details?

[2020-04-30 19:11] vqd8a opened #713 "Enable MAGMA TPL with new CMake"
@jjwilke @e10harvey
I am trying building Kokkos Kernels within Trilinos with MAGMA TPL enabled.
I used:
[code]
as said in the [build instructions](https://github.com/kokkos/kokkos-kernels/blob/master/BUILD.md)
but it reports that it cannot find the MAGMA headers (```magma_v2.h```, ```magma_lapack.h```)

I had to do these to make it compiled
[code]

Do you have any idea what went wrong? Is it becau

[2020-04-30 21:52] jjwilke commented on #713
I started this in PR #714. That hopefully is close enough to get you going.

[2020-04-30 21:55] vqd8a commented on #713
Thanks, @jjwilke .

[2020-05-01 17:13] brian-kelley opened #715 "spmv, spmv_mv, spmv_struct, spgemm_jacobi fail on CUDA+ float, complex_float"
@seheracer @lucbv

The "all scalars" build on Jenkins is finishing now, but there are some sparse test failures for float and complex_float. Just seems to be precision related, so maybe just a higher tolerance is the fix. I think @lucbv already knows about the spmv ones, but the spgemm_jacobi is new.

[2020-05-01 17:13] brian-kelley commented on #715
The build on Jenkins: https://jenkins-son.sandia.gov/view/KokkosKernels/job/KokkosKernels_KokkosDev2_CUDA10_1_AllScalars/

[2020-05-01 18:28] seheracer commented on #715
Should I work on this problem on kokkos-dev-2? @srajama1

I don't think I have an account for the link @brian-kelley provided.

[2020-05-01 18:31] brian-kelley commented on #715
@seheracer Yes, this is from kokkos-dev2, but they might fail on other machines.
Here's the build command:
[code]

[2020-05-01 19:40] srajama1 commented on #715
Every Sandian should be able to access jenkins-son. May be you need to VPN in ?

Like @brian-kelley said you might be able to reproduce on other machines.

[2020-05-01 19:55] seheracer commented on #715
Yes I can access it. Thanks.

[2020-05-05 16:39] #645 closed

[2020-05-05 16:40] #704 closed

[2020-05-07 16:25] e10harvey commented on #589
Addressed via #622 and #697.

[2020-05-07 16:25] #589 closed

[2020-05-15 02:19] brian-kelley commented on #180
Fixd again in 3.1.1.

[2020-05-15 02:19] #180 closed

[2020-05-20 17:55] e10harvey commented on #508
@brian-kelley: Although removing `hash_key_size` is the simplest solution. I will attempt to refactor all the code to compute the hash internally, within HashmapAccumulator. Computing the hash internally is a step in the right direction. There is one special use-case of https://github.com/kokkos/kokkos-kernels/blob/750fe24508a69ed4dba92bb4a9e17a6094b1a083/src/common/KokkosKernels_HashmapAccumulato

[2020-05-20 18:09] srajama1 commented on #508
Keep in mind this is used at the very low level. Performance of this data structure is important for the performance of the kernels.

[2020-05-20 18:36] e10harvey commented on #508
Thanks, Siva. What are the reasons for calculating the hash outside of the inlined HashmapAccumulator insertion routines?

[2020-05-20 18:40] srajama1 commented on #508
I don't see a particular use case for that.

[2020-05-20 18:42] e10harvey commented on #508
I mean, we are currently calculating the hash outside of the inlined HashmapAccumulator insertion routines. Why are we doing this?

[2020-05-20 20:18] brian-kelley commented on #508
@e10harvey I guess you could make ``bool powerOfTwoHashSize`` a template parameter, and that way no flags need to be stored and there's no runtime overhead. However you do it, we definitely need to use bitwise-AND masking where possible because integer div/mod are expensive on CUDA.

[2020-05-20 20:19] e10harvey commented on #508
Thanks @brian-kelley. This is exactly what I've started.

[2020-05-20 20:27] e10harvey commented on #508
@brian-kelley: Actually, thinking about this more, is there any reason against adding the following to the constructor bodies:
[code]

Then the instertion routines will invoke:
[code]

[2020-05-20 21:36] brian-kelley commented on #508
@e10harvey Function pointers/first-class functions incur overhead on CPUs and I don't think they can be used at all in CUDA. I would just go with the template.

[2020-05-20 21:41] brian-kelley commented on #508
Actually function pointers are supported in all CUDA versions supported by Kokkos, but they still have a performance cost.

[2020-05-22 04:14] lucbv opened #724 "test failure on Kokkos-dev"
@ndellingwood @brian-kelley
I am seeing the following errors during a spot-check on Kokkos-dev in the Cuda-clang build:
[code]
it also happens in some sparse kernels, I can post the full test log if useful.
Is this a known issue or something that you might have seen before?

[2020-05-22 04:29] lucbv commented on #724
Interestingly this does not happen with the Cuda-9.2/gcc-6.1.0 build.
Is there a chance that the alignment of complex is different with clang and gcc?

[2020-05-22 04:54] ndellingwood commented on #724
Are you using an older Kokkos? Hopefully this is fixed if you update your Kokkos version to 3.1.1 and rebuild the library, some alignment issue Brian chased down and reported were recently resolved, though this could be separate (or introduced by the other changes).

[2020-05-22 05:01] ndellingwood commented on #724
@lucbv also, the previous alignment issues @brian-kelley chased down occurred only with clang+cuda, not cuda+gcc, so hopefully you're kokkos repo is out of date and a pull of develop or the 3.1.1 tag resolves the issue.

[2020-05-22 05:32] ndellingwood commented on #724
Cross-referencing #645, #704

[2020-05-22 16:20] lucbv commented on #724
@ndellingwood it is quite possible that my kokkos repo on `kokkos-dev` is somewhat out-dated, I will do a pull there and let you know. Thanks for the quick response, I figured @brian-kelley and you would be the right persons to ask : )

[2020-05-22 16:24] lucbv commented on #724
A question and an fyi for you @ndellingwood
I guess in general it is our policy to run the spot-check tests with the develop branch of kokkos?
And the tests I am doing are in preparation for a PR regarding the cusparse merge algorithm that is needed by Sierra/Aria for their milestone. Should come up today if the alignment problem is fixed!

[2020-05-22 17:38] brian-kelley commented on #724
@lucbv @ndellingwood I never saw a misalignment error in GEMV, but hopefully updating Kokkos fixes it. I saw errors in Gauss-Seidel and team dot, and those were fixed in Kokkos PR 3009. That PR is now in master and 3.1.1.

@lucbv If updating Kokkos doesn't fix it, you could do a debug build and run with ``cuda-memcheck --show-backtrace``. That gave me the exact line number in device code where the

[2020-05-22 18:11] lucbv commented on #724
OK, I do no see the issue anymore with an up to data kokkos repo. I guess you are both right, @brian-kelley fix in kokkos was probably all that was needed. I will close this issue and open my PR for SpMV merge algorithm.

Thanks!

[2020-05-22 18:11] #724 closed

[2020-05-22 23:59] brian-kelley opened #726 "Support complex_float, complex_double in cuSPARSE SPMV wrapper"
Follow on to PR #725. Only required steps, hopefully:
Add to ``src/impl/tpls/KokkosSparse_spmv_tpl_spec_decl.hpp:100`` these two lines, but checking for complex Kokkos types and then using the ``CUDA_C_xxF`` enums:
[code]
Then add the instantiations around line 238.

[2020-05-23 01:46] lucbv commented on #726
@brian-kelley thanks for opening this issue, I would actually like to do a few more things, here is my plan:

1. as mentioned above, fix the logic so we can tackle the Kokkos::complex<> case
2. add a parameter validation function so we can check that parameters on the `controls` object are valid and make sense
3. talk with @jjwilke to understand a little better what should be done with `COMPILE_LI

[2020-05-23 01:52] lucbv commented on #726
Regarding point 4, it would actually be good to know if the interface for spmv will adopt the same changes as happened in cusparse `10.3.00` or if it will stick with the older interface?

[2020-05-27 16:53] ndellingwood opened #727 "trmm perf test nightly build error: clang/8+cuda tpl build"
The following nightly test failed on kokkos-dev-2 after merge of PR #720, @e10harvey can you take a look? From the compiler message looks like either a routine is missing a `KOKKOS_INLINE_FUNCTION` marking, or a host function is being incorrectly called from a kernel in a `Kokkos::parallel_for`

clang-8.0-Cuda_OpenMP-release (build failed)
https://jenkins-son.sandia.gov/job/KokkosKernels_KokkosDev

[2020-05-27 18:04] ndellingwood commented on #703
Cross-reference #708

[2020-05-27 18:06] ndellingwood commented on #711
PR #720 merged into develop

[2020-05-27 18:09] ndellingwood commented on #667
Cross-referencing https://github.com/trilinos/Trilinos/issues/7206 and kokkos/kokkos#2990
@jjwilke this should have been fixed by kokkos/kokkos#2991

[2020-05-27 18:10] ndellingwood commented on #670
@lucbv I added this to the 3.2 milestone since it seems the PR is nearly ready.

[2020-05-27 18:11] ndellingwood commented on #670
Cross-reference PR #725 and issue #669, since #725 introduces a prototype for the new Control structure.

[2020-05-27 18:15] ndellingwood commented on #614
@lucbv can this be marked as InDevelop since CuSparse support was added for SPMV (and the merge based algorithm can be considered as an enhancement)?

[2020-05-27 19:06] #711 closed

[2020-05-27 19:06] e10harvey commented on #727
@ndellingwood: Thank you! Looking into this now.

[2020-05-27 19:15] lucbv commented on #614
Yes that would make sense, I am doing that right now.

[2020-05-27 19:20] lucbv commented on #670
@ndellingwood I am not sure if milestone 3.2 is appropriate.
We will probably get this snapshotted fairly quickly to enable the integration with Tpetra and then Sierra. I am not sure if that changes things for the 3.2 release?

[2020-05-29 20:04] e10harvey commented on #715
I think the clean up for #508 at e10harvey/issue-508 just fixed this.

[2020-05-29 20:15] seheracer commented on #715
@e10harvey Great! I'd like to try it.

[2020-05-29 20:17] e10harvey commented on #715
I'll flag you in the PR.

[2020-05-29 21:38] e10harvey commented on #715
@seheracer: I spoke too soon. e10harvey/issue-508 does not fix this.

[2020-05-31 05:13] trmcnealy opened #732 "Bug fixes"
in KokkosKernels_IOUtils.hpp:

line 422 in kk_get_file_size function:

move the struct inside the preprocessor conditional and use `struct _stat` for Windows.

[code]

in KokkosSparse_spmv_tpl_spec_decl.hpp:

https://docs.nvidia.com/cuda/cusparse/index.html
14. cuSPARSE Generic API Reference
LIMITATION: The generic APIs are currently available for all platforms except Windows.

add
`&& !defined(_W

[2020-05-31 15:33] lucbv commented on #732
@trmcnealy thanks for reporting these!
I can make these modifications once I know our policies regarding Windows builds, I don't usually do them : )
@srajama1 what's our current status on Windows build support, do we support particular compilers/platforms?
@ndellingwood do we have a test machine easily accessible to check that bug fixes are going well?

[2020-05-31 21:57] ndellingwood commented on #732
@lucbv

I don't know how easily accessible a machine is, I think @crtrott has a machine for Kokkos testing but I don't know if that is openly available.

Kokkos is also using [appveyor](https://www.appveyor.com/) for Windows testing of PRs, that is something we can also look into as PR autotesting progresses.

[2020-06-01 05:12] trmcnealy commented on #732
FYI...

Windows 10 v2004
Intel Core i7 5960X[Haswell]
Cuda 10.2
Clang 10.0.0/Msys2

`CPPFLAGS=-U_MSC_VER -DHAVE_WINNT_IGNORE_VOID -DNDEBUG -D_NDEBUG -DWIN64 -D_WIN64 -D_WINDOWS -D_GNU_SOURCE -D_USE_MATH_DEFINES -D_MBCS -fomit-frame-pointer -fms-extensions -Xcuda-ptxas -w -w -O3 -std=c++17 -fcaret-diagnostics -fdiagnostics-show-template-tree -fcolor-diagnostics -fdiagnostics-parseable-fixits -fdiag

[2020-06-03 17:34] lucbv commented on #732
@trmcnealy
We will move ahead and make the changes to the code to fix the issues you pointed out.
It will take a bit of time to go through our testing process but when we have a PR for it I will post it here in case you want to follow that process.

[2020-06-05 07:28] lucbv opened #735 "wiki examples"
The examples shown in the documentation are not actually added as source and tests in the project.
This can lead to documentation that does not work which is not that helpful for users...
Interestingly there is already a directory for such things,  the main problem is that it is not up to date with the content of the wiki and it is not included in the CMake logic that would be needed to test it.

[2020-06-16 17:06] e10harvey opened #740 "Coverage of SpGEMM operator functions"
We have identified that `operator` at https://github.com/kokkos/kokkos-kernels/pull/731/files/ebab3bc86c0e9aebf28b0cc3cdaaaa96419bf058#diff-bba5fd8c6962fac594fa0e5918d87e88R228 and https://github.com/kokkos/kokkos-kernels/pull/731/files/ebab3bc86c0e9aebf28b0cc3cdaaaa96419bf058#diff-12c0beaaa61cf811b978be6f4dc44d77R1111 are not being tested.

1. Determine the set of SpGEMM `operator` definitions th

[2020-06-16 20:09] lucbv opened #741 "Remove kernels from experimental namespace"
There are a few kernels and tools that have now been widely used by Trilinos, ATDM and other users. These kernels deserve to be promoted out of experimental, this will also give confidence to the users that our kernels are mature.
One big question regarding this work is: do we want to keep the old experimental declaration and mark it deprecated to allow users some time before we make things not ba

[2020-06-16 20:23] ndellingwood commented on #741
@lucbv I think to keep backward compatibility we can remove the `Experimental` namespace from the capability, but reintroduce via a `using` statement, e.g. for `KokkosSparse_spgemm_symbolic.hpp` we can make the change from

[code]

to

[code]

That would give a buffer of time to users/apps to make the namespace changes, what do you think?

[2020-06-16 20:25] lucbv commented on #741
Yes I like the idea, is there a way to mark `using KokkosSparse::spgemm_symbolic;` as deprecated in the `Experimental` namespace though?
Otherwise I fear the users will have no idea what hit them when we remove it...

[2020-06-17 12:48] e10harvey commented on #715
@seheracer: spgemm_jacobi with float has been fixed via 3d1e9ff.

[2020-06-17 19:29] jennloe commented on #710
Add:
- [ ] SPARSE gauss_seidel has a link to an empty documentation page
(@brian-kelley might can fix?)

[2020-06-21 18:11] lucbv opened #744 "SpADD and SpGEMM numerical phases input requirements"
@srajama1 @brian-kelley @seheracer
This issue/question follows up on the discussion in PR #743

For some reason both SpADD and SpGEMM are performing the following check:
[code]
This suggests that the numerical phase of both algorithms intends to modify the number of entries in the matrix.
Changing the row_map ***after*** the symbolic phase has been performed goes against the idea of a symbolic pha

[2020-06-21 23:15] brian-kelley commented on #744
@lucbv @srajama1 That is definitely not right. I think this is the result of 2 bad copy-pastes:
- The first one copied the checks from spgemm_symbolic to spgemm_numeric (the static_assert message in numeric still says "KokkosSparse::spgemm_symbolic")
- The second was me copying the checks from spgemm numeric to spadd numeric

Neither spgemm nor spadd numeric should change C's rowmap (if they do, i

[2020-06-21 23:26] brian-kelley commented on #744
I opened #745 to fix this

[2020-06-22 09:29] brian-kelley opened #746 "Make cuSPARSE SPMV support multivectors (rank-2 X/Y)"
``cusparseSpMV()`` only supports rank-1 vectors, but ``cusparseSpMM()`` supports rank-2. We could use this to provide TPL specializations internally for ``SPMV_MV::spmv``. This will be necessary to use merge-path SPMV on multivectors, although cuSPARSE doesn't support merge path (alg 2) in SpMM yet. So this is very low priority until then.

[2020-06-22 14:01] lucbv commented on #744
@brian-kelley thanks for checking, for a minute I was worried that something different was going on in these functions and I did not have time to test these yet with the const row_map. This will allow to wrap the symbolic and numeric phases separately with CrsMatrix interface.
I will subsequently open a PR to add a test that multiplies matrices using symbolic and numeric the first time and numeric

[2020-06-22 14:39] lucbv commented on #746
OK, this sounds like a good idea, I quickly looked at the API and it looks like it will be easy to make that work just like the SpMV.
Thanks for pointing this out @brian-kelley

[2020-06-24 20:21] brian-kelley commented on #710
@jennloe [Gauss-Seidel is now documented here](https://github.com/kokkos/kokkos-kernels/wiki/SPARSE%3A%3Agauss_seidel). Just in time for the tutorial tomorrow.

[2020-06-24 20:22] brian-kelley commented on #710
@jennloe It looks like there are several BLAS kernels without wiki pages, including ``update``. I'l try to take care of those, as well as ``read_kokkos_crst_matrix``.

[2020-06-24 20:28] ndellingwood commented on #710
Just added `update` `mult` and `sum`

[2020-06-29 17:48] euphoricpoptarts opened #754 "cuSPARSE SpGemm compile issue"
I am trying to use KokkosSparse::Experimental::spgemm_symbolic and numeric with a Cuda default execution space. My code successfully compiles with g++ and an openMP default execution space. However when using the Cuda default execution space and nvcc_wrapper to compile, I get a bunch of different issues. See the below make error log (warning: long):
[err.txt](https://github.com/kokkos/kokkos-kerne

[2020-06-29 17:54] lucbv commented on #754
@euphoricpoptarts thanks for posting this issue.
Let me add a label and mention @seheracer who will be helpful with this.

@srajama1 why are we not using the tpl unification layer for spgemm cusparse?

[2020-06-29 21:13] euphoricpoptarts commented on #754
This particular problem is happening when I build with kokkos and kokkos-kernels in-tree with my project (cmake add_subdirectory). When I build kokkos and kokkos-kernels separately and install them, I don't get these compile errors, but I get a much shorter linker error:
[err.txt](https://github.com/kokkos/kokkos-kernels/files/4848061/err.txt)

[2020-06-29 21:32] seheracer commented on #754
@lucbv Do you think the problem is not having a tpl unification layer? It looks like a type mismatch to me.

[2020-06-29 21:48] lucbv commented on #754
No I do not think that this is related to the tpl unification layer, I just don't remember why it was done this way?
I also agree that it looks like a type error but I am a bit bothered that it is not caught by our testing system so there must be something in the settings that @euphoricpoptarts uses that we miss in our current testing.

[2020-06-29 21:52] seheracer commented on #754
@lucbv I'm not sure. If something does not compile, how can you test it as if it was compiled?

@euphoricpoptarts  Mike, how are you
i) creating your A and B matrices and
ii) calling the spgemm symbolic function?

[2020-06-29 22:05] euphoricpoptarts commented on #754
Well I construct the A and B matrices by creating mirror views of the three views (row_map, entries, values) on the host and deep copying them to the device. Sometimes these matrices are the result of a transpose kernel or the result of spgemm itself. See this file for how I am using it https://github.com/kmadduri/cmg/blob/spgemm_kernel/coarsen_kokkos.h (line 157-244)

[2020-06-29 22:07] euphoricpoptarts commented on #754
Oh I realized @seheracer is the only one who can access this file. Here it is for @lucbv or anyone else who wants to see:
[coarsen_kokkos.h.txt](https://github.com/kokkos/kokkos-kernels/files/4848277/coarsen_kokkos.h.txt)